.pointer {
	width: 100%;
	margin: 0 auto;
}

.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.vid-wrapper .vid-controls-contents .vid-progress {
    position: absolute;
    width: 100%;
    height: 5px;
    margin: 0 20px;
    margin-top: -2px;
    transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    cursor: pointer;
    top: -17px;
    padding: 0px 100px;
    left: 0;
    right: 0;
    max-width: 1170px;
    margin: auto;
}
.vid-volume-control.item {position: absolute;
left: 13%;
top: 0;}
.vid-request-fullscreen.item{position: absolute;
top: 0;
right: 3%;}
.vid-current-time {position: absolute;

top: 7px;

left: 17%;

display: inline-block;

width: 30px;

border-right: 1px solid;padding-right: 18px;}
.vid-duration {position: absolute;

top: 6px;

left: 21%;}
.vid-request-settinges{right: 6%;position: absolute;top: 0;}
.vid-wrapper .vid-volume-slider {display: none;}
/*.vid-quality-selector {display: none;}*/