  
button:focus,
a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: none !important;
  text-decoration: none;
}
a:hover, a:focus{text-decoration: none;outline: none;}
select::-moz-focusring {
  color: transparent; 
  text-shadow: 0 0 0 #000;
}

.modal-backdrop{z-index: 999999;}
.modal{z-index: 9999999;}

.navbarmenu .horizontal-form{margin-bottom: 0;}
.main-dirservice .multiple-category .new-button-f .directservice-btn{position: relative;padding: 5px 31px 5px 13px;text-align: left;margin-right: 10px;overflow: hidden;text-overflow: ellipsis;}
.main-dirservice .multiple-category .new-button-f .directservice-btn img{position: absolute;right: 7px;}
.navigation-bar .navigation-bar-postiion .right-tabing.position-tabing{}
.tab-content .tab-pane .section{position: relative;}
.tab-content .tab-pane .section .col-sm-4 .right-display{/*position: relative;z-index: 999999;*/}
.tab-content .tab-pane .section .col-sm-3 .reg bdo,
.tab-content .tab-pane .section .col-sm-3{position: unset;}
.tab-content .tab-pane .section .reg bdo input[type="radio"]{height: 100%;}
.tab-content .tab-pane .section .reg bdo span.select-seller-job{position: relative;top: 0;}
.reg.reg_fill{position: relative;}
.reg.reg_fill bdo abbr{margin-left: 24px;}
.reg.reg_fill bdo input[type="radio"]{height: 100%;position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: 100%;}
input[type="number"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{ -webkit-appearance: none;-moz-appearance: none;appearance: none;-moz-appearance: textfield;}
input[type=number] { -moz-appearance: textfield;}
.rating-point{align-items: center;} 
.play_button{position: relative;}
.play_button_icon{position: absolute;left: 0;right: 0;top: 50%;transform: translate(0, -50%);margin: 0 auto;width: auto !important;height: 74px !important;}
.play_button .play_button_icon{width: 74px !important;}
.slide-location video{width: 100%;}
.src_btn_hrdr{margin-top: 26px;}
.src_btn_hrdr button{background-color: transparent;border:0;padding: 6px 1px 6px 12px;}
.home-img > img, .home-img1 > img{margin-right: 5px;}
.nav-main  .browser-cust{margin-left: 0;}
.thank_you{text-align: center;color: #e70e8a;}
.thank_you h1{font-family: 'Conv_Roboto-Bold';font-size: 48px;letter-spacing: 1.5px;color: #e70e8a;margin: 100px auto 35px;}
.thank_you .btn-default{color: #e70e8a;background-color: #fff;border-color: #e70e8a;}
.thank_you .btn-default:hover{color: #fff;background-color: #e70e8a;}
.thank_you p {margin: 20px auto 20px;}
.nav-youraccount > li > a,
.nav-youraccount > li > a:hover{border: 0;}
.src_btn_hrdr button:focus,
.signin-bottom button.btn-signin:focus{outline: none;box-shadow: none;}
a
a:focus,
button,
button:focus{outline: none;box-shadow: none;}
.nav.nav-tabs.nav-youraccount li a:hover{color: #e8128c;}
.btn-back {padding: 3px 10px;}
button.close.closemodal{
	background-image: url(../images/pinkclose.png);
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	/*border: 1px solid #e8128c;
	border-radius: 50px; */
	position: absolute;
	right: 0;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{outline: 0;}
.table-invoicedetail{text-align: center;}
.buyer-name img{object-fit: cover;}
.d_block{display: block;}
/*.listview_height_div{height: auto !important;}*/
.listview_courses_search .leval-img-sortng img{height: auto;}
.green_stick {padding-left: 30px;}
.green_stick li{position: relative;list-style-type: none;margin-bottom: 10px;}
.green_stick li:before{
	content: "";
	background-image: url(../images/right.png);
	height: 15px;
	width: 18px;
	position: absolute;
	left: -30px;
	top: 3px;
	background-repeat: no-repeat;
	background-position: center;
}
.rating_counts a{color: #1c1c1c;text-decoration: none;}
.rating_counts .rating-container{display: inline-block;vertical-align: middle;margin-top: -3px;}
.rating_counts.rating-buyer .star-no{margin-left: 0;}
.right-tabing.position-tabing .btn-basic{width: auto;}
.accordion-toggle{cursor: pointer;}
.responsive_online_detail{}
.reg bdo input[type="radio"]{height: 100%;}
.shortlisted_custom .Shortlisted-img-person,
.shortlisted_custom .Shortlisted-img-person .img-category{height: auto;}
.shortlisted_custom .header-dirservice-find .border-space{padding-left: 25px;}
.shortlisted_custom .header-dirservice-find .squaredChk{left: -39px;}
.height_container .category-img > img{height: unset;}
.courses_listing .row .leval-img-sortng img.height_div, 
.courses_listing .row .leval-img-sortng video.height_div{height: unset;}
.leval-img-sortng{position: relative;}
.leval-img-sortng .Sponsored-second{top: auto;bottom: 0;left: 50%;transform: translate(-50%, 0);}
.category_video img{width: 100%;height: 194px;object-fit: cover;object-position: center;}
.category_video a{display: block;}
.upload-edit-detail{position: relative;}
.dashboardbadge{position: absolute;top: 10%;right: 10%;}
.usr_icon{position: relative;}
.usr_icon input{padding-left: 44px;font-size: 18px;}
.usr_icon:before{
	content: "";
	background-image: url(../images/user.png);
	height: 24px;
	width: 24px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 13px;
	top: 5px;
}
.image-peve img{object-fit: cover;object-position: center;}
.scrolldata{height: 500px;clear: both;}
.show_basic_pkg_btn,
.show_premium_pkg_btn,
.show_standard_pkg_btn{cursor: pointer;}
.show_standard_pkg_btn:hover,
.show_premium_pkg_btn:hover,
.show_basic_pkg_btn:hover{color: #e8128c;}
.show_premium_pkg,
.show_standard_pkg{display: none;}
.details-description.descunder{padding: 25px 0;}
.details-description.descunder h3{margin-top: 0;border-bottom: 1px solid #e7e6e7;padding: 0 20px 15px;}
.details-description.descunder p{padding-left: 20px;padding-right: 20px;}
/*.height_div{height: 100%;}*/
.navbar.nav-main .nav-find .d-arrow{padding: 9px 4px 9px 14px;}
.navbar.nav-main .nav-find .manu-map{background-position: 14px center;background-size: 25px;padding-left: 40px;padding-right: 39px;}
.src_btn_hrdr button {
	position: absolute;
	left: -39px;
	border-left: 2px solid #cccccc;
	padding: 7px 12px 7px 7px;
}
input{box-shadow: none;}

.manu-map, .new{width: 262px;}
.input-new{width: 79%;}
.without_login .input-new{width: 73% !important;}
.without_login .manu-map, .without_login .new{width: 234px;}
.without_login .new{width: 234px !important;}
.slider-for .slick-next{right: 0 !important;} 
.slider-for .slick-prev, .slider-for .slick-next{background-color: rgba(255, 255, 255, 0.8);}
.imgmedia-blog{object-fit: cover;object-position: center;}
.left-containt{height: auto;}
.compare-tab .all-leval-hight p{margin-bottom: 0;}
.total-subscribe span a{float: none;}
.About-img img{object-fit: cover;object-position: center;background: #fbfbfb;}
.About-img{border-radius: 50%;}
.border-tab .table td{white-space: nowrap;}

.custom_scrollbar:after,
.custom_scrollbar .mainorder:after{content: "";clear: both;display: block;}
.phancy-scrollbar {
	width: 5px;
	border-radius: 4px;
	top: 0;
	position: absolute;
	background: #ccc;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
	-ms-transition: opacity .2s;
	transition: opacity .2s;
	-webkit-transition-delay: 1s;
	opacity: 1;
}
.phancy-scroller .phancy-scrollbar:active, .phancy-scroller:hover .phancy-scrollbar {
	opacity: 1;
	-webkit-transition-delay: 0s;
}
.phancy-scrollbarbutton {
	width: 100%;
	border-radius: 4px;
	top: 0;
	position: absolute;
	background-color: #999;
}

.onlinecourseclass li .new{width: 530px !important;}
.onlinecourseclass li .new .input-new{width: 83% !important;}
.without_login .onlinecourseclass li .new{width: 473px !important;}
.my-live li a{display: block;}
.mangopay_logo img{width: 100%;height: auto;}
.mangopay_logo a{display: inline-block;}
.nav-find input::placeholder{opacity: 0.5;}
.cart_btn a{display: block;color: #e70e8a;}
.cart_btn a span{display: none;}
.nav > li.cart_btn > a:hover, .nav > li.cart_btn > a:focus{background-color: transparent;color: #333;}
.nav.navbar-nav.navbar-right .btn-post-job{margin-left: 3px;letter-spacing: 1px;width: auto;padding-left: 10px;padding-right: 10px;}
.btn-post-job_a{display: inline-block;}
.navbar-nav > li.cart_btn{float: none;display: inline-block;}
.nav > li.cart_btn > a {
	padding-left: 4px;
	padding-right: 4px;
	font-size: 24px;
	position: relative;
	top: 17px;
}
.btn-editcourse2{height: auto;width: auto;max-width: 100%;padding:2px 10px;}
.navbar-brand{padding-right: 13px;}
.chat-history .input-group{padding-top: 27px;}
.cart_btn{position: relative;}
.cart_btn .badge{font-weight: normal;position: absolute;top: 0;right: 0;background-color: #e8eaea;color: #e70e8a;}
.Review-name{width: 100%;}
.Review-name .Review-name-fine{left: auto;right: 0;}
.mr_0{margin-right: 0 !important;}
.mangopay_pymt_card_form{
	background-color: #fff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}
.mangopay_pymt_card{width: 760px;margin-right: auto;margin-left: auto;margin-top: 80px;}
.mangopay_pymt_card h1{
	border-bottom: 1px dotted #b7b7b2;
	padding: 24px 40px;
}
.mangopay_pymt_card .mangopay_card_form{padding: 24px 40px;}
.mangopay_pymt_card .form-control:focus,
.mangopay_pymt_card select:focus{
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.125) inset, 0 0 4px 6px rgba(206, 229, 88, 0.5);
	outline: none;
}
.mangopay_pymt_card input.form-control, .mangopay_pymt_card select {
	background-color: #fff;
	border: 1px solid #bdc1c3;
	border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25) inset, 0 0 0 4px rgba(225, 235, 240, 0.5);
	font-size: 18px;
	height: 40px;
	max-width: 100%;
	padding: 8px;
	transition: border-color 0.25s, box-shadow 0.25s;
	-moz-transition: border-color 0.25s, box-shadow 0.25s;
	-ms-transition: border-color 0.25s, box-shadow 0.25s;
	-o-transition: border-color 0.25s, box-shadow 0.25s;
	-webkit-transition: border-color 0.25s, box-shadow 0.25s;
}
.mangopay_pymt_card .card_nm .form-control{max-width: 248px;}
.mangopay_pymt_card .card_cv .form-control{max-width: 77px;}
.mangopay_pymt_card label{display:block;font-size: 18px;line-height: normal;margin-bottom: 10px;}
.mangopay_pymt_card .form-group{margin-bottom: 25px;}
.mangopay_pymt_card select{margin-right: 32px;}
.mangopay_pymt_card button {
	background-image: linear-gradient(top, #cee558 0, #aad233 50%, #c4df4d 50%, #b4d73d 100%);
	background-image: -moz-linear-gradient(top, #cee558 0, #aad233 50%, #c4df4d 50%, #b4d73d 100%);
	background-image: -ms-linear-gradient(top, #cee558 0, #aad233 50%, #c4df4d 50%, #b4d73d 100%);
	background-image: -o-linear-gradient(top, #cee558 0, #aad233 50%, #c4df4d 50%, #b4d73d 100%);
	background-image: -webkit-linear-gradient(top, #cee558 0, #aad233 50%, #c4df4d 50%, #b4d73d 100%);
	background-position: left top;
	background-size: auto 200%;
	border: 1px solid #9ab729;
	border-radius: 2px;
	box-shadow: 1px 2px 0 0 rgba(255, 255, 255, 0.25) inset, -1px -2px 0 0 rgba(0, 0, 0, 0.25) inset, 0 0 10px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
	cursor: pointer;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2em;
	min-width: 230px;
	padding: 12px 15px;
	text-shadow: 0 -2px rgba(117, 117, 117, 0.25);
	float: right;
	margin-top: 35px;
}
.account_downgrade {
	max-width: 731px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	line-height: normal;
	text-align: left;
}
.account_downgrade a {
	background: transparent;
	border: 2px solid #e70e8a;
	padding: 10px 26px;
	display: inline-block;
	font-size: 18px;
	letter-spacing: 1px;
	border-radius: 50px;
	font-family: 'Conv_Roboto-Bold';
	font-size: 16px;
	color: #000;
	margin-bottom: 35px;
}
.account_downgrade p{margin-bottom: 20px;}
.account_downgrade .col-md-6:last-child a, 
.account_downgrade .col-md-6:first-child a:hover{color: #fff;background-color: #e70e8a;}
.account_downgrade .col-md-6:last-child a:hover{color: #000;background-color:transparent;}
.account_downgrade .col-md-6:first-child{padding-right: 30px;}
.account_downgrade .col-md-6:last-child{padding-left: 30px;}
.account_downgrade .col-md-6:first-child:after{
	content: "";
	width: 5px;
	position: absolute;
	right:-2px;
	bottom: 0;
	top: 0;
	background-color: #e70e8a; 
}
.p-3{padding: 30px;}
.media_msg .media-heading{font-size: 20px;color: #e8128c;text-transform: capitalize;}
.media_msg  {font-size: 16px;color: #1c1c1c;}
.media_msg .media-left img{width: 60px;height: 60px;object-fit: cover;object-position: center;border-radius: 50%;}
.dashed_border{border-bottom: 1px dashed #a1a1a1;}
.upgradePlanModal_custom{padding-right: 0 !important; z-index: 999999}
.media.media_msg{margin-top: 0;}
.chat-history{}
.chat_send{position: relative;}
/*.chat_send .chat-padd{padding-bottom: 15px;}*/
.chat_send .chatnow_div{position: unset;bottom: 0;left: 0;right: 0;z-index: 1;background-color: #fff;margin-top: 16px;}
.chat_send textarea{-ms-overflow-style: none; overflow:hidden;resize: none;}
textarea{-ms-overflow-style: none; overflow:hidden;}
.fileset-preview-courses{right: 8%;top: 17%;}
.panel-black .fileset-preview-courses{right: 8%;top: 25%;}
.chat-point .chat-tital{font-family: 'Conv_Roboto-Regular';}
/*.chatnow_div{border-left: 1px solid #b7b7b7;}*/
.arrow_up_down{position: relative;}
.arrow_up_down::after {
	font-family: "FontAwesome";
	content: "\f107";
	position: absolute;
	z-index: 1;
	right: 10px;
	font-size: 20px;
	line-height: normal;
	transition: 1s;
}
.arrow_up_down.active_arrow::after{
	transform: rotate(-180deg);
}
.Overview-heading,
.overview-sellerheading.selling-new{display: block;}
.Overview-heading h3,
.overview-sellerheading h3,
.Overview-heading span,
.overview-sellerheading span{display: inline-block;vertical-align: middle;}
.Overview-heading span{margin-top: 6px;}
.Overview-heading span img,
.overview-sellerheading span img{vertical-align: text-top;}
.overview-sellerheading span.text-new img{vertical-align: middle;position: relative;top: -1px;}
.onerowvideo {position: relative;}
.coursevideo-list .onerowvideo span{top: 8px;}
.coursevideo-list .onerowvideo a .cpreview span{top: 2px;}
.coursevideo-list .onerowvideo .fileset-preview-courses span{top: 2px;}
.arr_img,
.select_arrows{cursor: pointer; padding-right: 30px; background-image: url(../images/down-arrow.png); background-position: 96% center; background-repeat: no-repeat;-moz-appearance: none;appearance: none; -webkit-appearance: none; -webkit-appearance: none;}
.arr_img{background-image: url(../images/select.png);padding-right: 12px;}
.review_align .rating-container{display: inline-block;}

.review_align.review_align_left{position: unset;}
.review_align .review_number{display: inline-block;position: relative;top: 2px;}
.review_align .star-no{position: relative;top: 2px;}
.mt_3{margin-top: 3px;}
.Review-img img{object-fit: cover;object-position: center;border-radius: 50%;}
.rating-buyer .star-no{position: relative;top: 1px;}
.position_unset{position: unset;}
.summary-name{background-color: transparent;}
.chat-history, .buyer-reviews{word-break: break-all;}
.border-right{position: relative;}
.border-right::before {
	content: "";
	border-right: 1px solid #b7b7b7;
	position: absolute;
	right: 0px;
	top: 0;
	z-index: 9999;
	bottom: 0;
}
.border-left{position: relative;}
.border-left::before {
	content: "";
	border-right: 1px solid #b7b7b7;
	position: absolute;
	left: -1px;
	top: 0;
	z-index: 9999;
	bottom: 0;
}
.chatnow_heading{display: inline-block;margin: 0;}
.all-icon-social a{vertical-align: middle; position: relative;font-size: 0;border: 1px solid #e70e8a;height: 40px;width: 40px;color: #e70e8a;border-radius: 50%;text-align: center;}
.all-icon-social a .zmdi{padding-top: 5px;}
.all-icon-social a .zmdi-facebook{padding-top: 6px;}
.all-icon-social a:hover{background-color: #e70e8a;color: #fff;}
/*.gridview_courses .col-md-4:nth-child(3n+1){clear: left;}*/
/*.gridview_courses .col-md-4.fresult{clear: none;}*/
.mainorder{float: left;width: 100%;}


.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 .starting-price .pull-right p span{font-size: 14px;}
 
 
 
/*************** SIMPLE OUTER SCROLLBAR ***************/
 
.scrollbar-outer > .scroll-element,
.scrollbar-outer > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.scrollbar-outer > .scroll-element {
    background-color: #ffffff;
}
 
.scrollbar-outer > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.scrollbar-outer > .scroll-element.scroll-x {
    bottom: 0;
    height: 12px;
    left: 0;
    width: 100%;
}
 
.scrollbar-outer > .scroll-element.scroll-y {
    height: 100%;
    right: 0;
    top: 0;
    width: 12px;
}
 
.scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer { height: 8px; top: 2px; }
.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer { left: 2px; width: 8px; }
 
.scrollbar-outer > .scroll-element .scroll-element_outer { overflow: hidden; }
.scrollbar-outer > .scroll-element .scroll-element_track { background-color: #eeeeee; }
 
.scrollbar-outer > .scroll-element .scroll-element_outer,
.scrollbar-outer > .scroll-element .scroll-element_track,
.scrollbar-outer > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
 
.scrollbar-outer > .scroll-element .scroll-bar { background-color: #e81f8c; }
.scrollbar-outer > .scroll-element .scroll-bar:hover { background-color: #e81f8c; }
.scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }
 
 
/* scrollbar height/width & offset from container borders */
 
.scrollbar-outer > .scroll-content.scroll-scrolly_visible { left: 0; margin-left: 0; }
.scrollbar-outer > .scroll-content.scroll-scrollx_visible { top:  0; margin-top:  0; }
 
.scrollbar-outer > .scroll-element.scroll-x .scroll-bar { min-width: 10px; }
.scrollbar-outer > .scroll-element.scroll-y .scroll-bar { min-height: 10px; }
 
 
/* update scrollbar offset if both scrolls are visible */
 
.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -14px; }
.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -14px; }
 
.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -14px; }
.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -14px; }
.scrollbar-outer > .scroll-element.scroll-x{display: none!important;}
.chat-history .buyer-tital-text p{margin-top: 0;}
.review_by_sellers, .review_by_sellers .rating-container{display:inline-block;vertical-align: middle;}
.review_by_sellers a{display: inline-block;position: relative;top: 3px;}
.online_reviewblock .rating-buyer{position: relative;left: -4px;margin-bottom: 10px;}
.online_reviewblock .rating-buyer span.star-no{position: relative;top: 2px;}
.category-img > a{display: block;}
#header{/*position: sticky;*/background-color: #fff;/*transition: 1s;transform: translateZ(0);transition:all 0.5s;*/z-index: 999999;}
header{box-shadow: 0px 0px 0px #cbcbcb;}
/*.modal1, .modal{ z-index: 9999999999999;}*/

.sticky{position: sticky;top: 0;left: 0;right: 0;z-index: 999;background-color: #fff;/*transition: 1s;*/}
/*.sticky {
    animation:slide-down 0.7s;
    opacity:1;    
}                  

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}*/

/*.gridview_courses .col-md-4.fresult:nth-child(3n+1){clear: none;}*/
/*.final-point .buyer-name{display: table;}
.buyer-reviews.buyer-final .final-point{align-items: flex-start;}*/

.order-details2, .order-details2 .right-boderstyle{border:0;border-radius: 0;}
.order-details2 .col-sm-3{border: 1px solid #b7b7b7;border-right: 0;}
.order-details2 .col-sm-3:first-child{border-top-left-radius:25px;border-bottom-left-radius:25px;}
.order-details2 .col-sm-3:last-child{border-top-right-radius:25px;border-bottom-right-radius:25px;border-right: 1px solid #b7b7b7;}
.header-img .select-box-find select:focus{color: #5d5d5d;}
.defineresult {
    display: block;
    height: 20px;
    padding: 0 5px 0 0;
    font-size: 14px;
    font-weight: bold;
}

.gridviewbordersponseredjob{
	border: 2px solid #000 !important;
}



/*@media screen Start css*/
@media screen and (max-width: 1199px){
	.navbar-header{}
	.navbar-collapse .horizontal-form:after,
	.navbar-collapse .horizontal-form .manu-nav:after{content: "";display: block;clear: both;}
	.navbar-collapse .horizontal-form{margin-bottom: 0;}
	.navbar-collapse .horizontal-form .browser-cust {padding: 17px 9px 18px !important;}
	.navbar-nav > li > a.manu-img{margin-left: 0;margin-right: 0;}
	.navbar-collapse .horizontal-form li .new{margin-top: 15px;font-size: 16px;max-width: 385px;}
	.navbar-collapse .horizontal-form li .new .option-new a{display: block;}
	.navbar-collapse .horizontal-form li .new .input-new{ width: auto !important;max-width: 118px;margin-right: 9px;}
	.access_service_custom .btn-guide{font-size: 16px;}
	.sort-forep img{height: auto;}
	.select-box-find select, .search-to-find > .form-control, .Location-line > .form-control{font-size: 16px;}
	.select-box-find select{padding-top: 6px;}
	.without_login .nav-find input{max-width: 160px;}
	.without_login .navbar-collapse .horizontal-form li .new{max-width: 211px;}
	.without_login .navbar-collapse .horizontal-form li .new .input-new{max-width: 89px;margin-left: 0;}
	.navbar-collapse .browser-cust .home-img > img,
	.navbar-collapse .browser-cust .home-img1 > img{position: relative;top: 2px;}
	.radio-choise .reg bdo span, .Welcome-page .reg bdo span {top: 3px;}
	.src_btn_hrdr {margin-top: 15px;}
	.buyer-account .profile-data a{display:block;margin: 10px auto 10px}
	.buyer-account .profile-data .data-find{position: relative;padding-left: 25px}
	.buyer-account .profile-data .data-find img{position: absolute;left:0;height: auto;max-width: 25px;}
	.upgradePlanModal_custom .final-leval-popup{height: auto;}
	ul.matchheight_div{margin-bottom: 0;}
	.category-img > a > img,
	.category-img > a > video,
	.category_video > a,
	.category-img > a {height: 150px;}
	.nav-pills-buyer-order > li > a{padding: 14px 17px;}
	.timer-date-box{height: 60px;}
	/*.responsive_online_detail{}*/
	/*.slider_video_responsive{}*/
	.slide-location-nav img,
	.slide-video-nav .slide-img-final{height: 90px;width: 100% !important;border-radius: 10px;}
	.online_slider video, .slider-for video,
	.slide-location img{border-radius: 10px;}
	.prev3, .next3{height: 90px;background-size: 13px;top: 15px;}
	.play_button .play_button_icon {width: auto !important;height: 40px !important;}
	.next3{right: -1px;}
	.accordion-toggle{padding: 20px 20px;font-size: 20px;}
	.accordion-toggle::before, .accordion-toggle.active::after {right: 15px;}
	.table-jobposting > thead > tr > th,
	.table-jobposting > tbody > tr > td{vertical-align: middle;line-height: normal;}
	.courses_listing .center-courses {padding: 10px 20px 10px 15px;}
	.rating-leval{margin-top: 0;}
	.category_video img{height: 150px;}
	.manu-map, .new{max-width: 206px !important;}
	.without_login .new, .without_login .manu-map{max-width: 185px !important;}
	.navbar.nav-main .nav-find .d-arrow{padding: 7px 4px 8px 14px;}
	.without_login .onlinecourseclass li .new {width: 374px !important;	max-width: 100% !important;}
	.onlinecourseclass li .new {width: 417px !important;max-width: 100% !important;}
	.navbar-collapse .horizontal-form .onlinecourseclass li .new .input-new {width: 76% !important;max-width: 100%;}
	.nav > li.cart_btn > a{font-size: 22px;top: 5px;}
	.nav.navbar-nav.navbar-right .btn-post-job {letter-spacing: 0.5px;padding-left: 8px;padding-right: 8px;}
	.btn-post-job{margin-top: 2px;}
	.responsive_online_job_slider .slide-img-final, 
	.responsive_online_job_slider .slide-img-final > img{max-width: 90%;width: auto;}
	.responsive_online_job_slider .slide-img-final > img{width: 100%;max-width: 100%;}
}


@media screen and (max-width: 991px){
	.nav-find .d-arrow{padding: 6px 4px;}
	.navbar-collapse .horizontal-form li .new{font-size: 12px;}
	.all-skills > h2{font-size: 26px;}
	.navbar-collapse .browser-cust{font-size: 12px !important;margin-left: 5px;}
	.navbar-collapse .horizontal-form li .new{max-width: 167px;}
	.navbar-collapse .horizontal-form li .new .input-new{max-width: 100px;margin-left: 0;}
	.navbar-collapse .horizontal-form .browser-cust {padding: 21px 4px 20px !important;margin-bottom: 0;display: flex;}
	.navbar-collapse .browser-cust .home-img > img,
	.navbar-collapse .browser-cust .home-img1 > img{position: relative;top: 2px;}
	.btn-post-job{display: block;letter-spacing: normal;width: auto;border-width: 1px;padding-left: 9px;padding-right: 10px;}
	.without_login .navbar-collapse .horizontal-form li .new .input-new{max-width: 71px;}
	.without_login .navbar-collapse .horizontal-form li .new {max-width: 140px;}
	.manu-map, .new{border-width: 1px;}
	.without_login .nav-find input {max-width: 130px;}
	.matchheight_div .reg bdo abbr {margin-left: 11px;}
	.nav-pills-buyer-order > li > a{padding: 14px 8px;font-size: 16px;}
	.slide-location-nav img, .slide-video-nav .slide-img-final, .prev3, .next3{height: 50px;}
	.play_button .play_button_icon{height: 26px !important;}
	.all-icon-social a{margin-bottom: 10px;}
	.rating-leval p, .rating-leval .point{white-space: nowrap;}
	.radio-choise .reg bdo abbr, .Welcome-page .reg bdo abbr {margin-left: 15px;}
	.gridview_courses .clearboth:nth-child(3n+1) {clear: none;}
	.gridview_courses .clearboth:nth-child(2n+1) {clear: both;}
	.Overview_box2 .overview-sellerheading h3{font-size: 20px;}
	.src_btn_hrdr button{border-left: 1px solid #cccccc;padding: 5px 12px 5px 7px;}
	.manu-map, .new {max-width: 169px !important;}
	.without_login .new, .without_login .manu-map {max-width: 153px !important;}
	.without_login .navbar-collapse .horizontal-form li .new .input-new,
	.navbar-collapse .horizontal-form li .new .input-new{max-width: 71%;}
	.onlinecourseclass li .new {width: 343px !important;}
	.without_login .onlinecourseclass li .new {width: 309px !important;}
	.navbar-brand{padding-left: 0;padding-right: 5px;}
	.nav > li.cart_btn > a {font-size: 20px;top: 3px;}
	.onerowvideo .fileset-preview-courses span,
	.onerowvideo .fileset-preview-courses{position: unset;display:inline-block;margin: 0 5px !important}
	.gridview_courses .col-md-4:nth-child(3n+1){clear: none;}
	.gridview_courses .col-md-4:nth-child(2n+1){clear: left;}
	.responsive_sections .job-postion-info .info-job{display: block;}
	.responsive_sections .job-postion-info .info{width: 100%;display: inline-block;margin-bottom: 10px;}
	.responsive_sections  .info-job .img-category-list1{margin-left: 0;margin-right: 7px;}
	.order-details2 .col-sm-3 .right-boderstyle{line-height: normal;padding-left: 15px;padding-right: 15px;padding-top: 15px;}
	.order-details2 .col-sm-3 .right-boderstyle p{padding-bottom: 15px;}

}


@media screen and (max-width: 767px){
	.Featured-tab:after,
	.Company-Ethos:after,
	.our-company:after{content: "";display: block;clear: both;}
	.guide-all .col-sm-3:after{content: "";display: block;clear: both;margin-bottom: 25px;}
	.our-company{padding-bottom: 25px;}
	.Company-Ethos{margin-bottom: 0;}
	.app-download{margin-bottom: 15px;}
	.download-app{margin-top: 10px;margin-bottom: 10px;}
	.all-skills > h2{margin: 30px 0px 20px;letter-spacing: 1px;}
	.navbar-collapse .horizontal-form li .new{max-width: 100%;}
	.navbar-collapse .horizontal-form .navbar-nav{margin-left: auto;margin-right: auto;}
	.category-img > a > video,
	.category-img > a > img, .category_video > a, .category-img > a {height: auto;}
	.sponsored-course{top: auto;bottom: 42px;}
	.email-msg{font-size: 14px;}
	.btn-post-job{width: 100%;max-width: 100%;}
	.nav.navbar-nav.navbar-right.manu-nav{padding-left: 15px;padding-right: 15px;}
	.navbar-nav .btn-post-job{font-size: 16px;padding: 10px 10px;margin-top: 2px;margin-bottom: 15px;}
	.navbar-collapse .horizontal-form li .new {font-size: 16px;padding: 9px 0;}
	.navbar-collapse .horizontal-form li .new .input-new{width: auto;}
	.navbar-collapse .horizontal-form li .manu-map{font-size: 16px;padding-top: 9px;padding-bottom: 9px;height: auto;margin-top: 15px;margin-bottom: 15px;}
	.without_login .navbar-collapse .horizontal-form li .new,
	.without_login .nav-find input{width: 100%;max-width: 100%;}
	.without_login .navbar-collapse .horizontal-form li .new .input-new {max-width: 100%;}
	.navbar-nav > li .manu-img{background-color: transparent;border: 1px solid #e70e8a;border-radius: 50px;display: block !important;margin-bottom: 15px !important;font-size: 16px !important;padding-bottom: 11px !important;padding-top: 11px !important;}
	.navbar-collapse .horizontal-form .browser-cust{padding-bottom: 10px !important;padding-top: 10px !important;border-bottom: 1px solid #e70e8a !important;}
	.navbar-collapse .horizontal-form .browser-cust:hover{background-color: #e70e8a;}
	.navbar.nav-main .navbar-collapse.sub-manu .navbarmenu{display: flex;flex-direction: column-reverse;}
	.navbarmenu .navbar-nav .active-manu{background-color: transparent !important;}
	.navbar-nav .active-manu > a > .home-img1{display: none !important;}
	.navbar-nav .active-manu a {color: #333 !important;}
	.select-box-find select {padding-top: 3px;}
	.select-box-find select, .search-to-find > .form-control, .Location-line > .form-control {font-size: 14px;}
	.src_btn_hrdr button{border: 1px solid #cccccc;border-radius: 50px;width: 100%;margin-bottom: 15px;padding: 12px 12px 12px 12px;}
	.src_btn_hrdr button:hover{background-color: #cccccc;}
	.navbar-collapse.sub-manu{-webkit-box-shadow: 0px 3px 9px 0px #9C9C9C;box-shadow: 0px 3px 9px 0px #9C9C9C;z-index: 999999999999;}
	.profile-data a, .edit-billing a{display: block;margin: 10px auto 10px;}
	.tab-content  .img-grp,
	.tab-content .imgwith-info{display: inline-block;vertical-align: middle;}
	.tab-content .imgwith-info{font-size: 14px;}
	.tab-content .img-grp {width: auto;margin: 0;padding: 0;border-bottom: 0;}
	.tab-content .img-grp img{max-width: 20px;}
	.edit-billing{text-align: left;}
	.upload-msg{display: inline-block;}
	.upload-msg .msg-heading{display: inline-block;}
	.profile-name{display: block;}
	.profile-name .img-pro img{margin-right: 0;}
	.tab-content .imgwith-info{position: relative;padding-left: 30px;}
	.tab-content .imgwith-info .img-grp{position: absolute;left: 0;}
	.info {font-size: 14px;letter-spacing: normal;margin-right: 0;}
	.profile-name .img-pro{margin: 0 5px 0 0;}
	.col-sm-12.col-xs-12.profile-name {margin-top: 10px;margin-bottom: 0;}
	.buyer-account .profile-data,
	.buyer-account .work-time{text-align: left;}
	.manu-map{background-size: 16px;background-position: 11px center;}
	.matchheight_div .right-mark{text-align: left;}
	.right-display.matchheight_div,
	.list-unstyled.matchheight_div{padding-left: 15px;padding-right: 15px;}
	.matchheight_div .right-mark{position: relative;padding-left: 20px;}
	.matchheight_div .right-mark .tick{position: absolute;left: 0;top: 3px;}
	.matchHeights .matchheight_div{min-height: 100% !important;height: auto;}
	ul.matchheight_div{margin: 10px  auto 15px;}
	.modal1{padding: 0;top: 10%;}
	.input-field, .form-sell,
	.form-mail, .form-pass{height: 40px;}
	.top-space .contact-phone{background-position: 2% center;}
	.field-edit-name{margin-top: 20px;}
	.publish-course{padding: 2px 43px;}
	.course-service h1, .course-service h2 {font-size: 26px;}
	.main-dirservice2, .main-dirservice3{padding-top: 10px;}
	.tab-content .course-service{margin-top: 30px;}
	.courses_listing .row .leval-img-sortng img, .courses_listing .row .leval-img-sortng video{height: auto;min-height: auto;}
	.tab_detail_custom .nav-pills > li{text-align: left;}
	.tab_detail_custom .nav-pills > li > a{border: 1px solid transparent;}
	.tab_detail_custom .nav-pills-buyer-order > li.active > a{border-color: #000;}
	.tab_detail_custom .nav-pills-buyer-order > li:first-child > a,
	.tab_detail_custom .nav-pills-buyer-order > li > a{padding: 6px 8px;}
	.tab_detail_custom  .nav-pills-buyer-order{padding-top: 15px;padding-bottom: 15px;}
	.order-details .right-boderstyle{border-right: 0;}
	.tab_detail_buyerorder{}
	.tab_detail_buyerorder .nav-buyerorder-detail > li:first-child > a,
	.tab_detail_buyerorder .nav-buyerorder-detail > li > a{padding: 10px 10px;line-height: normal;text-align: left;}
	.tab_detail_buyerorder .nav-buyerorder-detail{padding-top: 15px;padding-bottom: 15px;}
	.timer-date-box {height: 45px;}
	.Subtotal-point, .sub-total-leval{text-align: left;padding-left: 10px;}
	.sub-total-leval {text-align: right; padding-right: 10px;}
	.slide-location-nav img, .slide-video-nav .slide-img-final, .prev3, .next3 {height: 120px;}
	.compare-header {padding: 10px 20px;font-size: 18px;text-align: center;}
	.compare-tab .table .reg {display: block;}
	.compare-tab .table .reg bdo span{top: 2px;}
	.reg bdo abbr{margin-left: 16px;}
	.detail-category .star-category{margin-bottom: 10px;}
	.reviews_block .col-sm-4 .rating-container{margin-top: 3px;margin-bottom: 15px;}
	.heading-right{margin-top: 10px;}
	.shortlisted_custom .header-dirservice-find .squaredChk{left: -30px;}
	.shortlisted_custom .Shortlisted-img-person{margin-left: 10px;}
	.shortlisted_custom .Shortlisted-img-person, .shortlisted_custom .Shortlisted-img-person .img-category{max-width: 100%;}
	.title-control-postion{padding: 10px 0;}
	.contant-table .table-responsive .table-jobposting .btn-pause,
	.contant-table .table-responsive .table-jobposting .btn-jobpost{width: auto;padding: 3px 10px;}
	.joblist_modals .modal-dialog.modal-dialog-popup{max-width: 95% !important;z-index: 999;}
	.leval-img img.height_div{max-height: unset;min-height: auto;}
	.listview-container{padding-left: 15px;padding-right: 15px;}
	.rating_inline p,
	.rating_inline .rating-container,
	.rating_inline{display: inline-block;}
	.listview-container .all-leval .list-leval{margin-top: 10px;}
	.Sponsored-second{width: auto;padding: 3px 15px 2px;}
	.center-courses-text,
	.courses_listing .text-center-xs,
	.courses_listing .courses-icon.course-pricevalue,
	.category-text{text-align: left;}
	.star-category{margin-bottom: 5px;}
	.category_video img {height: auto;}
	.addimg_brdr .dropzone.dz-started .dz-message, .addimg_brdr .dropzone.dz-clickable .dz-message{transform: translate(0%, -50%) !important;}
	.tabdetailplace .place-badge,
	.tabdetailplace .place-course,
	.tabdetailplace .place-annou{position: unset;}
	.tabdetailplace .nav-pills-new > li > a{padding: 8px 10px;}
	.mt-xs-15{margin-top: 15px;}
	.Overview_box2  .overview-sellerheading span{margin-top: 10px;display: block;}
	.Overview_box2 .overview-sellerheading h3{margin-bottom:10px;}
	.single_search_page .select-box-find select,
	.single_search_page input.form-control,
	.single_search_page .btn-perfect1 button{height: 32px !important;}
	.heading-coursesection h2{font-size: 26px;}
	.navbar-collapse .horizontal-form li .new .input-new,
	.manu-map, .new,
	.without_login .new, .without_login .manu-map {max-width: 100% !important;width: 100% !important;}
	.navbar-collapse .horizontal-form li .new .input-new{max-width: 83% !important;}
	.src_btn_hrdr button{left: auto;right: 0;width: auto;top: -58px;border:0;border-left: 1px solid #cccccc;border-top-left-radius: 0;border-bottom-left-radius: 0;}
	.navbar-collapse .horizontal-form li .new{padding: 8px 0;}
	.navbar.nav-main .nav-find .manu-map{padding-right: 44px;}
	.slider-for .slick-next::before,
	.slider-for .slick-prev::before {
		content: "d";
		background-image: url(../images/prve.png);
		color: transparent !important;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 17px;
		line-height: normal !important;
		font-size: 37px !important;
	}
	.slider-for .slick-prev, .slider-for .slick-next {
		height: 40px;
		width: 30px;
		opacity: .7;
	}
	.slider-for .slick-next::before {
		background-image: url(../images/next1.png);
	}
	.without_login .onlinecourseclass li .new,
	.onlinecourseclass li .new {width: 100% !important;}
	.btn-post-job_a{display: block;}
	.nav.navbar-nav.navbar-right .btn-post-job{width: 100%;}
	.navbar-nav > li.cart_btn{display: block;}
	.nav > li.cart_btn > a{border: 1px solid #e70e8a; border-radius: 50px;margin-bottom: 25px;padding-top: 11px;padding-bottom: 11px;}
	.nav > li.cart_btn > a:hover{color: #fff;background-color: #e70e8a;}
	.cart_btn a span{display: inline-block;margin-left: 6px;}
	.mangopay_logo{text-align: center;}
	.mangopay_logo img{width: auto;max-width: 100%;margin-top: 5px;margin-bottom: 5px;}
	.mangopay_logo ul li{text-align: left;}
	.nav.navbar-nav.navbar-right .btn-post-job{margin-left: 0;}
	.cart_btn .badge{position: unset;margin-left: 5px;display: inline-block;vertical-align: middle;}
	.navbar-brand{padding-left: 15px;padding-right: 15px;}
	.responsive_online_job_slider .slide-img-final,
	.responsive_online_job_slider .slide-img-final > img{height: 100px;}
	.responsive_online_job_slider .slide-img-final > img{width: 100%}
	.responsive_sections .info-job-shortlist{display: block;float: none;}
	.responsive_sections .job-person img,
	.responsive_sections .job-person{height: auto;width: 100%;}
	.responsive_sections .job-person{margin-top: 10px;margin-bottom: 10px;}
	.responsive_sections .review-final,
	.responsive_sections .job-maintent{text-align: left;}
	.responsive_sections .review-final .complited-job,
	.responsive_sections .review-final{margin-top: 15px;}
	.responsive_sections  .review-final .mo-number{margin-top: 15px;margin-bottom: 15px;}
	.online_reviewblock .col-sm-2.text-center{text-align: left !important;margin-top: 15px;}
	.online_reviewblock .buyer-rating {text-align: left;}
	.order-details2 .col-sm-3{border: 1px solid #b7b7b7;border-bottom: 0;}
	.order-details2 .col-sm-3:first-child{border-top-left-radius:25px;border-top-right-radius:25px;    border-bottom-left-radius: 0;}
	.order-details2 .col-sm-3:last-child{border-bottom-right-radius:25px;border-bottom-left-radius:25px;border-bottom: 1px solid #b7b7b7;border-top-right-radius: 0;}
	.header-img .select-box-find select{width: 100%;max-width: 100%;}
	.header-img .new-location1{display: block;}
	.header-img .new-location1 .select-box-find {border-radius: 50px;margin-right: 0;margin-bottom: 10px;}
	.select-box-find select, .search-to-find > .form-control, .Location-line > .form-control{font-size: 20px;}
	.select-box-find select{height: auto;padding: 12px 33px 12px 15px;}
	.header-img .new-location1 #searchcontent{display: block !important;}
	.header-img .btn-perfect1 > .btn,
	.search-to-find > .form-control, .Location-line > .form-control,
	.search-to-find > .form-control.form-online{padding: 12px 15px 12px 15px;max-width: 100%;width: 100%;margin-bottom: 10px;height: auto;border-radius: 50px;}
	/*.header-img > img{height: 606px;object-fit: cover;object-position: -330px;}*/
	/* By Ray */
	.header-img > img{height: 330px;object-fit: cover;object-position: -330px;}

	.header-img .btn-perfect1 > .btn{border: 2px solid #e70e8a;font-size: 20px;padding: 9px 15px 9px 15px;margin-bottom: 18px;}
	.header-img .btn-guide {font-size: 16px;width: 100%;max-width: 160px;padding: 5px 20px;}
	.slide-containt > p{font-size: 25px;}
	.free-lancer > h1{font-size: 36px;margin-top: 23px;margin-bottom: 13px;max-width: 355px;margin-left: auto;margin-right: auto;}
	.free-lancer > p {font-size: 24px;margin-bottom: 23px;}
	.free-lancer > p > span > img {height: auto;}
	.input-box-slide-second{max-width: 320px;}
	.slide-containt {margin-top: 34px;}
}

@media screen and (max-width: 575px){
	.responsive_sections .job-postion-info{text-align: left;}
	.access_service_custom .btn-guide{width: auto;padding: 3px 16px;margin: 15px auto 30px !important;}
	.direct-services img{height: auto;}
	.direct-services > p{font-size: 18px;}
	.Featured-tab .slick-slider .name-satus .rating-container{margin-top: 7px;margin-bottom: 7px;}
	.Featured-tab .slick-slider  .devloper-alltext{margin-top: 10px;}
	.header-img > img{height: 153px;object-fit: cover;object-position: center;}
	.header-img .center-containt{top: 0;transform: translate(0, -0);}
	.all-skills > h2 {font-size: 22px;}
	.checkbox {padding-left: 16px;}
	.select-box-find select, .search-to-find > .form-control, .Location-line > .form-control{font-size: 10px;}
	.select-box-find select {padding-top: 3px;}
	.nav-youraccount > li {float: none;margin-bottom: 0;width: 100%;max-width: 100%;text-align: left;}
	.nav-youraccount > li > a{margin-right: 0;border: 1px solid transparent;margin-bottom: 10px;font-size: 14px;padding: 3px 10px;}
	.nav-youraccount > li.active > a, 
	.nav-youraccount > li.active > a:hover, 
	.nav-youraccount > li.active > a:focus, 
	.nav-youraccount > li > a:hover, 
	.nav-youraccount > li > a:focus{border: 1px solid #e8128c;border-radius: 4px;}
	.slide-location-nav img, .slide-video-nav .slide-img-final, .prev3, .next3{height: 70px;}
	.slide-location-nav{margin: 15px 4px;}
	.accordion-toggle {padding: 15px 20px;font-size: 16px;}
	.title-sponsoreads a{display: block;margin-top: 15px;}
	.title-sponsoreads a .btn-new-sponsore{float: none;}
	.single_search_page .select-box-find select, .single_search_page input.form-control, .single_search_page .btn-perfect1 button {	height: 23px !important;}
	.modal1 .btn-payment{margin-bottom: 50px;}
	.title-sponsoreads{font-size: 20px;}
	.responsive_online_job_slider .slide-img-final,
	.responsive_online_job_slider .slide-img-final > img{height: 100px;border-radius: 10px;}
	.responsive_sections .info-job-shortlist span,
	.responsive_sections .info-job span{position: relative;padding-left: 30px;}
	.responsive_sections .info-job-shortlist span span,
	.responsive_sections .info-job span span{padding: 0}
	.responsive_sections .info-job-shortlist span img,
	.responsive_sections .info-job span img{position: absolute;left: 0;}
	.responsive_sections  .review-final .btn-final-job{width: 143px;}
	.header-img > img{height: 521px;object-fit: cover;object-position: -282px;}
	.header-img .select-box-find select{width: 100%;max-width: 100%;}
	.header-img .new-location1{display: block;}
	.header-img .new-location1 .select-box-find {border-radius: 50px;margin-right: 0;margin-bottom: 10px;}
	.select-box-find select, .search-to-find > .form-control, .Location-line > .form-control{font-size: 20px;}
	.select-box-find select{height: auto;padding: 12px 33px 12px 15px;}
	.header-img .new-location1 #searchcontent{display: block !important;}
	.header-img .btn-perfect1 > .btn,
	.search-to-find > .form-control, .Location-line > .form-control{padding: 12px 15px 12px 15px;max-width: 100%;width: 100%;margin-bottom: 10px;height: auto;border-radius: 50px;}
	

	/*.header-img > img{height: 599px;object-fit: cover;object-position: -336px;}*/
	/* By Ray */ 
	._main_home > img{height: 599px !important;object-fit: cover;object-position: -336px;}
	.header-img > img{height: 250px;object-fit: cover;object-position: -336px;}
	.sort-for{display: none;}
	 #Notifyme .modal-dialog{width: auto !important}
	 #Notifyme .sign-main{margin-top: 7px !important}
	 .online_reviewblock{margin-top: 20px;}
	 #sendMessage .modal-dialog{width: auto !important}
		
		
	.header-img .btn-perfect1 > .btn{border: 2px solid #e70e8a;font-size: 20px;padding: 9px 15px 9px 15px;margin-bottom: 18px;}
	.header-img .btn-guide {font-size: 16px;width: 100%;max-width: 160px;padding: 5px 20px;}
	.input-box-slide-second{max-width: 320px;}
}

@media screen and (max-width: 480px){
	.reg bdo span {top: 3px;}
}
@media screen and (max-width: 420px){
	.footer-heading1 .col-md-4:after,
	.footer-heading1 .col-sm-8:after{content: "";display: block;clear: both;}
	.footer-heading1 .col-sm-8 .col-xs-4{width: 50%;}
	.footer-heading1 .col-sm-8 .col-xs-4:last-child{width: 100%;}
	.footer-heading1 .col-sm-8 .col-xs-4:last-child ul li{width: 50%;float: left;}
	.controlpanel_setting_icon .right-symbol{position: unset;}
}