/*26B-control-panel-my-courses-add-new-course*/
.main-course { width: 100%; max-width: 730px; margin: 0 auto; }
.heading-course > h2 { margin-top: 80px; font-size: 40px; font-family: 'Conv_Roboto-Bold'; text-align: center; color: #2a2a2a; letter-spacing: 1.5px;  }
.row-form-field .course-desc { border-radius: 25px; border: 2px solid #a6a6a6; }
.upload-edit-course {padding: 35px 0px 30px; box-shadow: 0px 5px 5px #ececec; border-radius: 25px; border: 1px solid #d5d4d4; }
.img-upload-course { margin: 0 auto; padding-bottom: 30px; }
#fileupload-course-label { display: inherit; font-weight: normal; cursor: pointer; border: 2px solid red; padding: 1px; height: 25px; width: 100%; max-width: 120px; cursor: pointer; text-align: center; margin: 0 auto; border: 2px solid #e70e8a; background-color: transparent; font-size: 13.13px; letter-spacing: 1px; border-radius: 50px; color: #e70e8a; }
#fileupload-course-label:hover, #fileupload-course-label:focus { color: #333; }  
.course-detail { width: 100%; max-width: 446px; float: right; clear: right;  border-radius: 25px; border: 2px solid #a6a6a6; padding: 18px 24px 15px 24px; }
.heading-chapter > h2 { margin-top: 44px; font-size: 40px; font-family: 'Conv_Roboto-Bold'; text-align: center; color: #2a2a2a; letter-spacing: 1.5px;  }
.add-chapter { border-bottom: 1px solid #c7c7c7; padding-bottom: 24px; }
.check-boxright { float: right; }
.btn-savecourse{border: 2px solid transparent; padding: 2px; border-radius: 50px; margin: 5px 8px 0px; width: 285px; background-color: transparent; color: #e70e8a; border: 2px solid #e70e8a; font-size: 18px; }
.btn-savedraft {border: 2px solid transparent; margin-right: 25px; padding: 3px; margin: 5px 8px 0px; border-radius: 50px; color: #fff; margin-top: 5px; width: 285px; background-color: #e70e8a; border: 2px solid initial; font-size: 18px; }
.add-new-section { border-bottom: 1px solid #c7c7c7;  width: 100%; text-align: right;}
.form-add-course{ border: 2px solid transparent; height: 32px; padding: 0px; margin: 16px 8px 0px; border-radius: 50px; color: #fff; width: 157px; background-color: #e70e8a; border: 2px solid initial; font-size: 18px; }
.btn-new-section { border: 2px solid transparent; height: 36px; padding: 0px; margin: 50px 0px; border-radius: 50px; letter-spacing: 1px; color: #fff; width: 215px; background-color: #e70e8a; border: 2px solid initial; font-size: 18px; }
/* End 26B-control-panel-my-courses-add-new-course*/
.nav-buyerorder-detail > li > a:focus {background-color: transparent;}
/* 26B-control-panel-my-courses-course_sections-1 */
.root-position { position: relative; }
.edit-details-courses { position: absolute; right: 6%; top: 35%; }
.edit-details-courses a { color: #fff; padding: 5px 10px; background-color: #000; }
.edit-details-courses a:hover { text-decoration: none; }
.fileset-pdf-courses { position: absolute; right: 20%; top: 25%; }
.fileset-doc-courses { position: absolute; right: 16%; top: 25%; }
.fileset-preview-courses { position: absolute; right: 6%; top: 25%; }
.fileset-pdf-courses span a { text-decoration: underline; }
.fileset-doc-courses span a { text-decoration: underline; }
.btn-new-coursesection { border: 2px solid transparent; height: 36px; padding: 0px; float: right; clear: right; border-radius: 50px; letter-spacing: 1px; color: #fff; width: 215px; background-color: #e70e8a; font-size: 18px;  }
.coursevideo-list span { position: absolute; right: 0px; }
.coursevideo-list a {text-decoration: none;color: #fff;}
.chapter-title { display: inline-block; width: 100%; margin: 48px 0px 10px;vertical-align: middle;}
.chapter-title h5 {margin-top: 3px; font-size: 28px; line-height: 24px; color: #030303; float: left; clear: left; }
/*.chapter-title .text-search { background-color: transparent; width: 100%; max-width: 213px; height: 36px; padding: 0px 40px 0px 20px; border-radius: 50px; border: 2px solid #cccccc; background-image: url(../images/search.png); background-position: 90% center; background-repeat: no-repeat; font-size: 18px; letter-spacing: 1px; color: #000; float: right; clear: right; }*/
.panel-tab-content {margin: 0px;}
.btn-leave-review { border: 2px solid #e70e8a; background-color: #e70e8a;
padding: 4px 40px;
font-size: 18px;
border-radius: 50px;
float: right;
color: #fff;
}
.popup-letter { padding: 20px; font-size: 15px; letter-spacing: 1px; padding-right: 50px;  }
.coursevideo-player { margin-right: 10px; }
.coursevideo-list { width: 100%; position: relative; padding: 10px 20px; font-size: 15px; letter-spacing: 1px; color: #fff; }
.selected-radiocourse { float: right; width: 100%; }
.panel-tab-content > a { display: block; padding: 20px 30px; text-decoration: none; font-size: 20px; color: #fff; background: #020202; }
.panel-tab-content > a:hover {color: #fff;text-decoration: none;}
.panel-default > .panel-heading + .panel-collapse > .panel-body.panel-black { border-top-color: #EEEEEE; background: #000; color: #fff; padding: 15px 30px;}
.nav-pills > .comment-ontab > a > .place-badge { color: #fff; background-color: #000; }
/* End 226B-control-panel-my-courses-course_sections-1 */

/*26B-control-panel-my-courses-q&a*/
.main-qa { width: 100%; margin: 0 auto; }
.qa-find .text-search { background-color: transparent; width: 100%; max-width: 650px; height: 34px; padding: 0px 60px 0px 20px; border-radius: 50px; border: 2px solid #acacac; background-image: url(../images/search.png); background-position: 94% center; background-repeat: no-repeat; font-size: 18px; letter-spacing: 1px; color: #000; }
.qa-find { margin-top: 48px; margin-bottom: 34px; display: inline-flex; align-items: center; width: 100%; }
.qa-find span { font-size: 18px; letter-spacing: 1px; color: #000; margin: 0px 20px; }
.qa-find .ask-question { background-color: #e70e8a; padding: 0px; height: 34px; width: 100%; max-width: 265px; color: #fff; letter-spacing: 1px; font-size: 18px; border: 2px solid transparent; border-radius: 50px; }
.search-containt {width: 100%;float: left;padding: 20px 15px 12px; background-color: #f6f6f6; margin-bottom: 3px;}
.search-heading { margin-left: 18px; }
.searching-info { display: inline-flex; width: 100%; }
.search-heading h3 { margin-top: 8px; font-family: 'Conv_Roboto-Bold'; margin-bottom: 0px; font-size: 15px; line-height: 24px; letter-spacing: 0.5px; }
.search-heading p { color: #1c1c1c; font-size: 15px; line-height: 24px; letter-spacing: 0.5px; }
/* End 26B-control-panel-my-courses-q&a*/

/*26B-control-panel-my-courses-course-review*/
.main-leavereview { width: 100%; max-width: 730px; margin: 0 auto; }
.public-review { margin-top: 48px; } 
.public-review h2 { font-size: 28px; line-height: 24px; color: #030303; margin-bottom: 12px; }
.main-leavereview .course-review { border-radius: 25px; border: 2px solid #c6c5c5; padding: 30px 20px; margin: 25px 0px; font-size: 15px; line-height: 18px; color: #5d5d5d; }
.main-leavereview .btn-review { float: right; clear: right; font-size: 19.2px; letter-spacing: 1px;  height: 46px; width: 215px; background-color: #e70e8a; border-radius: 25px; border:2px solid transparent; color: #fff; }
/*End 26B-control-panel-my-courses-course-review*/

/*26B-control-panel-profile-settings-2*/
.main-edit-profile .top-space { margin-top: 70px; }
.top-space .contact-phone { background-image: url(../images/contact-phone.png); background-repeat: no-repeat; background-position: 4% center; padding-left: 40px; }
.top-space .bottom-space { padding-bottom: 80px; margin-bottom: 0px; }
.top-btnspace  { float: right; clear: right; margin-top: 30px;}
/*End 26B-control-panel-profile-settings-2*/

/*26B-control-panel-edit-billing-details-2*/
.row-detail { margin-top: 16px; }
.payment-method { font-size: 16px; margin-top: 15px; margin-bottom: 10px; color: #000; letter-spacing: 1px; width: 100%; }
.billing-detail { padding: 10px 20px 28px 30px; border: 1px solid #d1d1d1; box-shadow: 0px 5px 5px #f1f1f1; border-radius: 25px;}
/* End 26B-control-panel-edit-billing-details-2 */

/*26B-control-panel-buyer-account-freelance-online-EDIT-shortlisted-1*/


.squaredChk label 
{
cursor: pointer;
position: absolute;
width: 20px;
height: 20px;
top: 0;
border-radius: 4px;
background: transparent;
border: 1px solid #e70e8a;
}

.squaredChk label:after 
{
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0;
content: '\f00c';
   font-family: FontAwesome;
position: absolute;
border-radius: 2px;
width: 17px;
height: 16px;
background: transparent;
top: 0px;
color: #e70e8a;
left: 0px;
transition: visibility 0s 1s, opacity 1s linear;
    font-size: 11px;
    left: 3px;
    top: 2px;
}

.squaredChk label:hover::after 
{
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
filter: alpha(opacity=30);
opacity: 0.3;
transition: visibility 0s .5s, opacity .5s linear;

}

.squaredChk input[type=checkbox]:checked + label:after 
{
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1;
}


.main-shortlisted { width: 100%; /*max-width: 1110px;*/ margin: 0 auto; }
.edit-btn { width: 100%; padding-top: 40px; padding-bottom: 15px; }
.edit-btn .edit-short { width: 100%; max-width: 190px; margin-right: 15px; margin-top: 8px; height: 32px; padding: 0px; background-color: #e70e8a; border: 2px solid transparent; border-radius: 50px; color: #fff; font-size: 18px; letter-spacing: 1px; }
.edit-btn .btn-selectall { width: 100%; max-width: 135px; margin-top: 8px; height: 32px; padding: 0px; background-color: #e70e8a; border: 2px solid transparent; border-radius: 50px; color: #fff; font-size: 18px; letter-spacing: 1px; }
.editshort-list { box-shadow: 0px 0px 5px #ececec; border-radius: 25px; border: 1px solid #d5d4d4; margin-top: 25px; }
/*End 26B-control-panel-buyer-account-freelance-online-EDIT-shortlisted-1*/

/*26B-control-panel-buyer-account-freelance-in-person-2 */
.freelance-person { width: 100%; /*max-width: 1110px;*/ margin: 0 auto; padding-top: 50px; }
.freelance-menu { display: inline-block; }
.list-freelance { float: right; clear: right; margin-bottom: 45px; }
.freelance-menu a { color: #010a13; font-size: 18px; letter-spacing: 1px; }
.list-freelance span { padding-left: 11px; padding-right: 11px;  }
.freelance-menu a:hover , .freelance-menu a:focus { text-decoration: none; }
.freelance-btn { width: 100%; padding-top: 40px; padding-bottom: 30px; text-align: center; box-shadow: 0px 5px 5px #f1f1f1; margin-bottom: 25px; border:1px solid #d1d1d1; border-radius: 25px; }
.freelance-btn .freelance-person { background-color: #e70e8a; color: #fff; font-size: 18px; padding:0px; height: 34px; width: 100%; max-width: 215px; letter-spacing: 1px; border: 2px solid transparent; border-radius: 50px; margin: 0 auto; margin: 10px 34px; }
.freelance-btn .freelance-online { background-color: transparent; color: #e70e8a; font-size: 18px; padding:0px; height: 34px; width: 100%; max-width: 215px; border: 2px solid #e70e8a; letter-spacing: 1px; margin: 0 auto;border-radius: 50px; margin: 10px 34px; }
.profile-status span {padding-left: 12px; color: #1a1a1a; font-family: 'Conv_Roboto-Bold'; }
.profile-status  { color: #39c040; margin-bottom: 32px; font-size: 18px; letter-spacing: 1px; }
.work-status ul li span { font-weight: bold; }
.work-status { margin-bottom: 30px; }
.work-status h2 { font-family: 'Conv_Roboto-Bold'; margin: 3px 0px 28px 0px; font-size: 18px; letter-spacing: 1px; color: #1a1a1a; }
.work-status ul li { margin-bottom: 10px; color: #010101; font-size: 16px; letter-spacing: 1px; }
.work-status p a:hover , .work-status p a:focus { text-decoration: none; }
.work-status p a { color: #010101; font-size: 16px; letter-spacing: 1px; }
.work-status p {margin-bottom: 15px; }
.work-status p a.change-color { color: #e70e8a;  }
.work-info { margin-left: 60px; }
.profile-info { width: 100%; box-shadow: 0px 5px 5px #f1f1f1; padding: 50px 60px 60px; border:1px solid #d1d1d1; border-radius: 25px; }
/*.list-freelance a:last-child { padding-right: 0px; }
*//*End 26B-control-panel-buyer-account-freelance-in-person-2*/

/*26B-control-panel-buyer-account-freelance-online-sponsored-ads-1*/
.online-sponsored { width: 100%; max-width: 730px; margin: 0 auto; padding-top: 85px; }
.dirservice-btnbottom .btn-sponsor { display: inherit; margin: 0 auto; margin-top: 10px; height: 30px; border-radius: 50px; padding: 0px; border: 2px solid #010101; color: #010101; text-align: center; font-size: 18px; background-color: #fff; width: 100%; max-width: 250px; }
.online-sponsored-pack { font-family: 'Conv_Roboto-Bold'; margin-bottom: 20px;  font-size: 16px; letter-spacing: 1px; color: #e3137b; text-align: center; }
/*End 26B-control-panel-buyer-account-freelance-online-sponsored-ads-1*/

/*26B-control-panel-seller-account-freelance-in-person-1*/
.profile-info .btn-activated { height: 35px; width: 100%; max-width: 215px; padding: 0px; margin-bottom: 28px; border-radius: 50px; border: 2px solid #39c040; background-color: transparent; color: #020202; font-size: 18px; letter-spacing: 1px; }
/*26B-control-panel-seller-account-freelance-in-person-1*/

/*21B-top-category-list-2-no skill added-1*/
.no-skill-added { width: 100%; margin: 0 auto; margin-top: 50px; }
.no-skillimg { height: 200px; width: 200px; margin: 32px 35px; border: 2px solid #868686; padding: 40px 0px; border-radius: 25px; }
.no-skilluser { margin: 0 auto; }
.bottom-border { border-bottom: 1px dashed #d5d4d4; }
.noskill-title { padding: 25px 0px 25px; }
.noskill-heading h4 { font-size: 28px; color: #232323; letter-spacing: 1px; margin-top: 3px; }
.noskill-body p {font-size: 20px; padding-right: 10px; font-family: 'Conv_Roboto-LightItalic'; color: #5d5d5d; margin: 25px 0px 40px;}
.noskill-body .btn-applynow { border: 2px solid #e70e8a; background-color: transparent; width: 100%; height: 100%; max-height: 47px; max-width: 215px; color: #e70e8a; border-radius: 50px; font-size: 19.2px; letter-spacing: 1px; }
.notify-msg { font-size: 20px; word-spacing: 1px; line-height: 24px; color: #1a1a1a; margin-bottom: 0px; padding: 0px 35px;} 
.notify-msg .btn-noskill-notify { border: 2px solid #1a1a1a; color: #1a1a1a; border-radius: 50px; width: 100%; max-width: 144px; background-color: transparent; height: 35px; padding: 0px; margin: 14px 0px 16px; font-size: 20px; line-height: 24px; }
.rating-left { border-left: 1px dashed #d5d4d4; text-align: center; padding: 120px 0px; }
.rating-left span { font-size: 20px; line-height: 24px; color: #1a1a1a; text-align: center; }
.bottom-border .left-cancle { padding-left: 0px; }
.bottom-border .right-cancle { padding-right: 0px; }
/*21B-top-category-list-2-no skill added-1*/

/** 26B-control-panel-my-courses-course_sections-seller **/
.right-symbol { position: absolute; right: 0px; top: 38%; }
.setting-course img { margin-right: 12px; }
.btn-editcourse { width: 100%; max-width: 172px; height: 100%; max-height: 34px; border: 2px solid #e70e8a; color: #e8128c; font-size: 18px; ;letter-spacing: 1px; border-radius: 50px; padding: 0px; float: right; margin-right: 10px; background-color: transparent; }
/** 26B-control-panel-my-courses-course_sections-seller **/

/* 26B-control-panel-my-courses-settings-seller  */
.main-course-setting { width: 100%; max-width: 550px; margin: 0 auto; }
.section-enable {text-align: center; border-bottom: 1px solid #1a1a1a; padding: 30px 0px;}
.heading-setting { font-size: 16px; font-family: 'Conv_Roboto-Bold'; margin: 20px 0px; text-align: center; letter-spacing: 1px; 1a1a1a }
.setting-checkbox { display: ruby;padding-left: 50px !important; }
.setting-option { font-size: 16px; letter-spacing: 1px; color: #000; font-weight: normal; margin-right: 50px;   }
.btn-settingcourse { margin-top: 40px; }
.btn-savechange { display: inherit; background-color: #e8128c; font-size: 18px; letter-spacing: 1px; color: #fff; border: 2px solid #e8128c; border-radius: 50px; padding: 0px; margin: 0 auto; width: 100%; max-width: 210px; height: 34px; }
/* End 26B-control-panel-my-courses-settings-seller  */

/*26B-control-panel-my-courses-messages-seller */
.main-course-Message { width: 100%; margin: 0 auto; }
.course-message { width: 100%; max-width: 660px; margin: 0 auto; padding-top: 50px; font-family: 'Myriad Pro'; font-size: 16px; font-weight: normal; letter-spacing: 1px; color: #1a1a1a; }
.course-message > p { width: 100%; max-width: 415px; margin: 0 auto; text-align: center; }
.heading-welcome { font-size: 18px; letter-spacing: 1px; color: #000000; text-align: center; margin: 15px 0px; }
.welcome-msg { width: 100%; max-width: 600px; margin: 0 auto; padding: 15px 0px; margin-top: 20px; }
/*End 26B-control-panel-my-courses-messages-seller */

/* 22B-sitemap */
.sitemap-list label{margin-top: 50px; font-family: 'Conv_Roboto-Medium'; font-size: 20px; line-height: 24px; color: #010101}
.sitemap-list ul{display: block;list-style: none; padding-left: 15px;}
.sitemap-list ul li{font-size: 18px; line-height: 30px; color: #7c7b7b;}
/* End 22B-sitemap */

/* 26B-control-panel-buyer-SINGLE-ITEM-ORDER-DETAILS */

/* 26B-control-panel-buyer-SINGLE-ITEM-ORDER-DETAILS-resolution-center-W1 */
.select-issue { border: 1px solid #b7b7b7; border-radius: 25px; width: 100%; }
.resolve-issue { border-bottom: 1px solid #b7b7b7; padding-bottom: 24px; }
.resolve-issue { font-size: 20px; letter-spacing: 1px; color: #1a1a1a;}
.resolve-issue p { padding-right: 150px; }
.order-issue { padding: 28px 0px ; border-bottom: 1px solid #b7b7b7; } 
.outer-border { border: 1px solid #b7b7b7; border-radius: 25px; padding: 36px 30px 50px 30px; margin-top: 60px; }
.order-issue span { font-family: 'Conv_Roboto-Bold'; font-size: 16px; letter-spacing: 1px; color: #1a1a1a; }
.btn-nextorder { background-color: #e8128c; margin-top: 5px; border: 2px solid transparent; font-size: 18px; letter-spacing: 1px; color: #fff; width: 146px; padding: 2px; height: 34px; border-radius: 25px }
.issue-right { border: 1px solid #b7b7b7; margin-top: 8px; border-radius: 25px; overflow: hidden; }
.issue-img { width: 100%; height: 100%;  }
.issue-rightimg { height: 100%; width: 100%; }
.status-order { padding: 25px 25px 50px; }
.listed-status { margin-top: 15px; }
.img-issueright { margin-right: 20px; }
.statusinfo-color { font-family: 'Conv_Roboto-Bold';  font-size: 16px; color: #030303; letter-spacing: 0.2px; }
.info-aboutstatus { width: 100%; font-size: 16px; color: #000; letter-spacing: 1px; display: inline-flex; align-items: center; }
.status-grp { display: initial; width: 140px; margin: 6px 18px 6px 3px; }
.delivered-color { color: #e8128c; font-family: 'Conv_Roboto-Bold'; letter-spacing: 0.2px; font-size: 16px; }
.magnetic-option ul li { font-size: 16px; letter-spacing: 1px; color: #000; margin-bottom: 8px; }
.magnetic-word { font-size: 20px; letter-spacing: 1px; color: #1a1a1a; padding-bottom:25px; }
.magnetic-option { padding-bottom: 15px; border-bottom: 1px solid #b7b7b7; margin-bottom: 15px; }
/*End 26B-control-panel-buyer-SINGLE-ITEM-ORDER-DETAILS-resolution-center-W1 */

/* 26B-control-panel-buyer-SINGLE-ITEM-ORDER-DETAILS-resolution-center-W2 */
.resolve-issue span { padding-right: 50px; }
.btn-backorder { background-color: transparent; border: 2px solid #e70e8a; margin-top: 5px; margin-right: 10px; font-size: 18px; letter-spacing: 1px; color: #e70e8a; width: 146px; padding: 0px; height: 34px; border-radius: 25px; }
/* End 26B-control-panel-buyer-SINGLE-ITEM-ORDER-DETAILS-resolution-center-W2 */

/* 26B-control-panel-buyer-SINGLE-ITEM-ORDER-DETAILS-resolution-center-W3 */
.contact-support { font-size: 24px; color: #575f50; border-bottom: 1px solid #b7b7b7; padding: 15px 0px;}
.msg-support { padding: 25px 10px 0px 0px; color: #575354; }
.topspace-status { margin-top: 25px; }
.refund-balance { font-size: 16px; color: #000; letter-spacing: 1px; margin-top: 30px; padding-right: 100px; }
/* End 26B-control-panel-buyer-SINGLE-ITEM-ORDER-DETAILS-resolution-center-W3 */

/* End 26B-control-panel-buyer-SINGLE-ITEM-ORDER-DETAILS */

/*26B-control-panel-seller-ORDERS*/
.nav-pills-order > li.active > a, .nav-pills-order > li.active > a:hover, .nav-pills-order > li.active > a:focus {
    color: #000;
    background-color: transparent;
}
.nav-pills-order > li > a {color: #fff;font-family: 'Conv_Roboto-Medium';font-size: 18px;padding: 14px 35px;}

.nav-pills-order > li > a:hover, .nav-pills-order > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}
.nav-pills-order > li:first-child > a {padding-left: 0px;}

.table-orderdetails > thead > tr > th {  line-height: 35px; background-color: #f5f5f5;  text-align: center; font-weight: normal; font-family: 'Conv_Roboto-Medium'; font-size: 12px; color: #e8128c; letter-spacing: 0.6px; border: 1px solid #b7b7b7; }  
.table-orderdetails > thead > tr > th:last-child { border-right: none; } 
.table-orderdetails > thead > tr > th:first-child { border-left: none; }   
.table-orderdetails > thead > tr > th { border-top: none; }   

.table-orderdetails > tbody > tr > td { border: 1px solid #b7b7b7; font-size: 15px; line-height: 35px; color: #040404; }     
.table-orderdetails > tbody > tr > td:last-child { border-right: none; }          
.table-orderdetails > tbody > tr > td:first-child { border-left: none; }     
.table-orderdetails > tbody > tr:last-child > td { border-bottom: none; }     
.table-orderdetails > tbody > tr:hover { cursor: pointer; }     
.table-orderdetails { margin-bottom: 0px; }
.order-status { padding: 50px 0px; }
.message-system { padding:0px 25px; letter-spacing: 0.6px; margin-bottom: 10px; }
.message-system a { text-decoration: underline; }
.resolution-ordercenter { color: #e8128c; float: right; clear: right;  font-family: 'Conv_Roboto-Bold'; letter-spacing: 1px; padding-right: 20px; }
.resolution-ordercenter span { color: #000; }
.title-orderstatus { font-size: 28px; line-height: 24px; color: #030303; margin-bottom: 15px; }
.title-orderstatus h2 { padding-left: 25px; font-size: 28px; line-height: 24px; color: #030303; margin-bottom: 15px; }
.order-details { border: 1px solid #b7b7b7; overflow: hidden; border-radius: 25px; font-family: 'Conv_Roboto-Black'; font-size: 15px; line-height: 58.98px; color: #040404; text-align: center; }
.order-details p { font-size: 36px; margin-bottom: 0px; }
.right-boderstyle.last-chlidhead { border-right: none; }
.right-boderstyle { border-right: 1px solid #b7b7b7; }
.sub-line { border-radius: 50px; border: 2px solid #9c9c9c; box-shadow: 0px 5px 5px #eeeeee; margin-top: 10px; padding: 0px 18px; }
.contant-table { overflow: hidden;   border: 1px solid #b7b7b7; text-align: center; border-radius: 25px; margin-top: 8px; }
.success-msg { padding: 8px 15px; float: right; clear: right; border: 3px solid #5da327; box-shadow: 0px 7px 7px #9c9c9e; color: #5da327; font-size: 16px; margin-bottom: 40px; max-width: 650px;  }
/* End 26B-control-panel-seller-ORDERS */

/*26B-control-panel-seller-ORDERS*/
.nav-pills-buyer-order > li.active > a, .nav-pills-buyer-order > li.active > a:hover, .nav-pills-buyer-order > li.active > a:focus {
    color: #000;
    background-color: transparent;
}
.nav-pills-buyer-order > li > a {color: #fff;font-family: 'Conv_Roboto-Medium';font-size: 18px;padding: 14px 32px;}

.nav-pills-buyer-order > li > a:hover, .nav-pills-buyer-order > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}
.nav-pills-buyer-order > li:first-child > a {padding-left: 0px;}
a.btn-reorder { color: #040404; border-radius: 50px; border: 1px solid #e8128c; padding: 3px 20px;  }
/*End 26B-control-panel-seller-ORDERS*/

/*26B-control-panel-your-buyer-messages-1 */
.name-messager { margin-right: 40px; }
.option-filter { width: 90px; background: top; border: none; appearance: none; -moz-appearance: none; font-size: 18px; color: #000; text-transform: uppercase; font-weight: 600; -webkit-appearance: none; }
/* End 26B-control-panel-your-buyer-messages-1  */

/* 26B-control-panel-invoice-2  */
.main-invoice-setting { width: 100%; max-width: 1000px; margin: 0 auto; padding: 45px 0px; }
.invoice-history h5 { font-family: 'Conv_Roboto-Bold'; font-size: 16px; letter-spacing: 1px; color: #000; margin-top: 28px; }
.table-invoicedetail > tbody > tr > td > a { text-decoration: none; color: #1c1c1c; }     
.table-invoicedetail > thead > tr > th { line-height: 36px;  text-align: center; font-weight: normal; font-size: 16px; color: #000; letter-spacing: 1px; border: 1px solid #b7b7b7; }  
.table-invoicedetail > thead > tr > th:last-child { border-right: none; } 
.table-invoicedetail > thead > tr > th:first-child { border-left: none; }   
.table-invoicedetail > thead > tr > th { border-top: none; }   

.table-invoicedetail > tbody > tr > td { border: 1px solid #b7b7b7; font-size: 16px; line-height: 36px; color: #000; }     
.table-invoicedetail > tbody > tr > td:last-child { border-right: none; }         
.table-invoicedetail > tbody > tr > td:first-child { border-left: none; } 
.table-invoicedetail > tbody > tr:last-child > td { border-bottom: none; }     

.table-invoicedetail { margin-bottom: 0px; }
.download-logo { margin-left: 15px; }
.amount-color { color: #e63a0c; } 
.active-amount-color { color: #1c7520; }
.invoice-table { overflow: hidden; border: 1px solid #cccccc; text-align: center; border-radius: 25px; }
/* End 26B-control-panel-invoice-2  */

/* 26B-sponsored-ads */
.btn-new-sponsore { float: right; clear: right; font-size: 18px; letter-spacing: 1px; color: #e70e8a; background: transparent; border: 2px solid #e70e8a; border-radius: 50px; padding: 0px; width: 100%; max-width: 250px; height: 34px; }
.title-sponsoreads { font-size: 28px; line-height: 24px; color: #030303; margin-bottom: 10px; }
.table-sponsoreads > thead > tr > th {  line-height: 36px;  text-align: center; font-weight: normal; font-size: 16px; color: #e8128c; letter-spacing: 1px; border: 1px solid #b7b7b7; background-color: #f5f5f5; }  
.table-sponsoreads > thead > tr > th:last-child { border-right: none; }  
.table-sponsoreads > thead > tr > th:first-child { border-left: none; }  
.table-sponsoreads > thead > tr > th { border-top: none; }   

.table-sponsoreads > tbody > tr > td { border: 1px solid #b7b7b7; font-size: 16px; line-height: 36px; color: #000; }     
.table-sponsoreads > tbody > tr:last-child > td { border-bottom: none; }     
.title-popup-table > h3 { font-size: 24px; letter-spacing: 1px; color: #e8128c; text-align: center; margin-bottom: 50px; margin-top: 5px; }
.table-sponsoreads > tbody > tr > td:last-child { border-right: none;  }     
.table-sponsoreads > tbody > tr > td:first-child { border-left: none;  }     
.popup-sponsore { width: 100%; max-width: 900px; margin: 0px auto; }
.table-sponsoreads { margin-bottom: 0px; }
.btn-pause { padding: 0px; font-size: 15px; font-family: 'Conv_Roboto-Black'; color: #e8128c; background-color: transparent; border: 1px solid #e8128c; height: 34px; border-radius: 50px; width: 100%; max-width: 125px;}
.btn-start { font-size: 15px; font-family: 'Conv_Roboto-Black'; color: #323131; background-color: transparent; border: 1px solid #323131; height: 34px; border-radius: 50px; width: 100%; max-width: 125px;}
.btn-jobpost { padding: 0px; font-size: 15px; font-family: 'Conv_Roboto-Black'; color: #fff; background-color: #e8128c; border: 2px solid transparent; height: 34px; border-radius: 50px; width: 100%; max-width: 125px;}
/* End 26B-sponsored-ads */

/* 26B-job-posting */
.sponser-status { font-family: 'Conv_Roboto-Black'; font-size: 15px; color: #040404; margin-right: 15px; }
.table-jobposting > thead > tr > th { line-height: 36px;  text-align: center; font-weight: normal; font-size: 12px; color: #e8128c; letter-spacing: 1px; border: 1px solid #b7b7b7; background-color: #f5f5f5; }  
.table-jobposting > thead > tr > th:last-child { border-right: none; }  
.table-jobposting > thead > tr > th:first-child { border-left: none; }    
.table-jobposting > thead > tr > th { border-top: none; }  
.table-jobposting > tbody > tr > td { border: 1px solid #b7b7b7; font-size: 15px; line-height: 36px; color: #010101; }     
.table-jobposting > tbody > tr > td:first-child { border-left: none;  }      
.table-jobposting > tbody > tr > td:last-child { border-right: none;  }          
.table-jobposting > tbody > tr:last-child > td { border-bottom: none; }     

.table-jobposting { margin-bottom: 0px; }
.right-love { float: right; }
.renew-color a { color: #92bb55; text-decoration: underline; }
.jobtitle-value { margin-left: 10px; }
.negative-status { font-family: 'Conv_Roboto-Black'; font-size: 15px; color: #040404; margin-right: 15px; }
.positive-status { font-family: 'Conv_Roboto-Black'; font-size: 15px; color: #040404; }
/* End 26B-job-posting */

/** 26B-control-panel-support-ticketing listing **/
.main-support-ticket { width: 100%; max-width: 900px; margin: 0 auto; margin-top: 65px; }
.support-ticket { position: relative; font-size: 24px; letter-spacing: 1px; color: #1a1a1a; padding-bottom: 30px; text-align: center; }
.btn-view { font-size: 15px; font-family: 'Conv_Roboto-Black'; background: transparent; color: #e70e8a; border-radius: 50px; border: 2px solid #e70e8a; width: 100%; max-width: 80px; padding: 0px; height: 30px; }
.btn-new-ticket { position: absolute; right: 0px; padding: 2px; font-size: 18px; letter-spacing: 1px; color: #fff; background-color: #e70e8a; border: 2px solid transparent; border-radius: 50px; height: 34px; width: 100%; max-width: 235px; }
.conversation-detail h3 { font-size: 24px; line-height: 24px; color: #030303; margin: 35px 0px 25px; }
.details-profile { background-color: #f6f6f6; padding: 20px 30px 50px 15px;  }
.logo-conversation { height: 64px; width: 64px; overflow: hidden; border-radius: 50%; margin-right: 15px; }
.conversation-img { height: 64px; width: 64px; }
.conversation-sub-info { padding: 40px 0px; margin-left: 80px; border-bottom: 1px solid #b8b8b8; }
.conversation-sub-msg p {margin-left: 80px; padding-right: 80px; margin-top: 10px; font-size: 15px; line-height: 18px; color: #5d5d5d; margin-bottom: 15px; }
.comment-conversation { background-color: transparent;}
.comment-textbox { margin-left: 80px; }
.conversation-name {  color: #1c1c1c;  font-family: 'Conv_Roboto-Bold';  font-size: 15px; line-height: 24px; letter-spacing: 0.5px;  }
.conversation-name p { color: #e8128c; font-weight: normal; }
.conversation-logo-title { display: inline-flex; align-items: center; width: 100%; }
.conversation-info { margin-left: 80px; border-bottom: 1px solid #b8b8b8; padding-bottom: 25px; }
.conversation-info p { font-size: 15px; line-height: 18px; color: #5d5d5d; margin-bottom: 15px; }
/** 26B-control-panel-support-ticketing listing **/

/* 26B-control-panel-support-ticketing listing-conversation */
.btn-supportcenter { position: absolute; right: 0px; padding: 0px; font-size: 18px; letter-spacing: 1px; color: #fff; background-color: #e70e8a; border: 2px solid transparent; border-radius: 50px; height: 34px; width: 100%; max-width: 265px; }
.table-listconversation > thead > tr > th { font-family: 'Conv_Roboto-Medium'; line-height: 36px;  text-align: center; font-weight: normal; font-size: 12px; color: #e8128c; letter-spacing: 0.6px; border: 1px solid #b7b7b7; background-color: #f5f5f5; }  
.table-listconversation > thead > tr > th:last-child { border-right: none; }  
.table-listconversation > thead > tr > th:first-child { border-left: none; }    
.table-listconversation > thead > tr > th { border-top: none; }
.table-listconversation > tbody > tr > td { border: 1px solid #b7b7b7; font-size: 15px; line-height: 36px; color: #040404; font-family: 'Conv_Roboto-Bold'; }     
.table-listconversation > tbody > tr > td:first-child { border-left: none;  }      
.table-listconversation > tbody > tr > td:last-child { border-right: none;  }          
.table-listconversation > tbody > tr:last-child > td { border-bottom: none; }     
.table-listconversation { margin-bottom: 0px; }
.conversation-details-block { width: 100%; float: left; margin: 0px 0px; }
.conversation-blog {background:#f6f6f6; padding: 20px 30px 40px 15px;}
.conversation-find {display: inline-flex; align-items: center; width: 100%; background: #f6f6f6;}
.conversation-man img { height: 64px; width: 64px; }
.conversation-man { height: 64px; width: 64px; border-radius: 35px; overflow: hidden;}
.conversation-name {margin-left: 15px;width: 85%;}
.conversation-name p span {color: #e8128c;font-family: 'Conv_Roboto-Regular';}
.conversation-name p {font-size: 15px;color: #1c1c1c; font-family: 'Conv_Roboto-Bold';margin-bottom: 0px;}
.conversation-text-all1{letter-spacing: 0.6px; line-height: 18px; background-color: transparent; }
.conversation-text-all {padding-bottom: 20px;border-bottom: 1px solid #b8b8b8;}
.conversation-text-all h3 {margin-top: 0px;}
.conversation-text {padding-left: 80px;}
.conversation-text-all p { color: #5d5d5d; line-height: 18px; letter-spacing: 0.6px; }
.conversation-second-man {padding: 20px 0px;}
.conversation-find-q {align-items: inherit;}
.conversation-name-q textarea { margin-top: 10px; background-color: transparent; margin-bottom: 28px; }
.btn-convarsation-submit { float: right; clear: right; font-size: 18px; letter-spacing: 1px; color: #e70e8a; border:2px solid #e70e8a; padding: 0px; background: transparent; border-radius: 50px; width: 100%; max-width: 125px; height: 32px; }
.request-resolve { font-weight: normal; font-size: 15px; line-height: 18px; }
.checkbox-ticket input {
    position: absolute;
    opacity: 0;
}
.checkbox-ticket {
	font-family: 'Conv_Roboto-Regular';
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    color: #5d5d5d;
    padding-top: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 7px;
    background-color: #e70e8a;
}

/* On mouse-over, add a grey background color */
.checkbox-ticket:hover input.ticket-conversation ~ .checkmark {
    background-color: #e70e8a;
    border-radius: 7px;
    margin-left: 0px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-ticket input.ticket-conversation:checked ~ .checkmark {
    background-color: #e70e8a;
    margin-left: 0px;
    border-radius: 7px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-ticket input.ticket-conversation:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-ticket .checkmark:after {
    left: 7px;
	top: 4px;
	width: 6px;
	height: 11px;
    border: solid #fff;
    border-radius: 7px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ticket-conversation-msg p { line-height: 18px; color: #5d5d5d; letter-spacing: 0.6px; }
/* End 26B-control-panel-support-ticketing listing-conversation */

/*26B-control-panel-my-courses-q&a-seller */
.place-badge { position: absolute; top: 13%; left: 35%; padding: 1px 4px; color: #fff; font-size: 12px; border-radius: 0px; background: #000; }
.Announcements-message { color: #5d5d5d; width: 50%; margin: 4px 0px;}
.comment-seller { background-color: transparent; }
.qaseller-second-man { padding-top: 0px !important; }
.qa-seller-input { width: 100%; float: left; background: #f6f6f6; padding: 20px 0px; }
.qa-seller-find { display: inline-flex; width: 100%; }
.qaseller-title { display: inline-block; width: 100%; margin: 48px 0px 35px;vertical-align: middle;}
.qaseller-title .text-search { background-color: transparent; width: 100%; max-width: 650px; height: 34px; padding: 0px 60px 0px 20px; border-radius: 50px; border: 2px solid #acacac; background-image: url(../images/search.png); background-position: 94% center; background-repeat: no-repeat; font-size: 18px; letter-spacing: 1px; color: #000;}
/* End 26B-control-panel-my-courses-q&a-seller */

/*26B-control-panel-my-courses-announcement-seller */
.edit-position { position: relative; width: 100%; }
.place-annou { position: absolute; top: 13%; left: 66%; color: #fff; padding: 1px 4px; font-size: 12px; border-radius: 0px; background: #000; }
.Announcements-text-seller { padding-left: 10px; }
.Announcements-seller-message { color: #5d5d5d; width: 65%; line-height: 18px;  }
.edit-button-seller { position: absolute; right: 4%; top: 15%; width: 100%; }
.timeline-title { margin: 40px 0px 35px; padding: 0px; }
.btn-new-annou { border-radius: 50px; border: 2px solid #e70e8a; color: #e8128c; width: 100%; max-width: 265px; font-size: 18px; letter-spacing: 1px; background-color: transparent; padding:0px; width: 100%; max-width: 265px; height: 34px; float: right; margin-right: 20px;}
.timeline-title h3 { font-size: 28px; line-height: 24px; color: #030303; margin: 6px 0px 0px; }
/* End 26B-control-panel-my-courses-announcement-seller  */


/** 26B-control-panel-my-courses-leave-a-review-seller **/
.place-course { position: absolute; top: 13%; left: 66%; color: #fff; padding: 1px 4px; font-size: 12px; border-radius: 0px; background: #000;  }
.course-review-all {border-bottom: 1px solid #b8b8b8;}
.course-review-all p { color: #5d5d5d; line-height: 18px; letter-spacing: 0.6px; }
.course-choise { margin-top: 45px; }
.response-seller { margin: 2px 0px; line-height: 18px; }
.courses-reviews-noborder { align-content: inherit; }
/** End 26B-control-panel-my-courses-leave-a-review-seller **/

/** 26B-control-panel-my-courses-overview-Seller **/
.header-recent { font-family: 'Conv_Roboto-Bold'; }
.overview-radiospace { margin-top: 50px; }
.overview-sellerheading { width: 100%; float: left; display: inline-flex; margin-top:50px; }
.overview-sellerheading > h3 { margin: 0px; margin-right: 8px; }
.overview-sellerheading h3 { font-size: 28px;font-family: 'Conv_Roboto-Medium';color: #e8128c; margin: 0px;}
.overview-sellerheading span { margin-left: 15px; }
.overview-sellerheading span img { margin-right: 10px; }
.rating-seller { display: inline-flex; }
.rating-seller .star-no {margin-left: 20px;color: #1c1c1c; letter-spacing: 1px;}
/** 26B-control-panel-my-courses-overview-Seller **/


/** 26B-control-panel-buyer-SINGLE-ITEM-ORDER-DETAILS-in progress **/
.nav-order-detail > li.active > a, .nav-order-detail > li.active > a:hover, .nav-order-detail > li.active > a:focus {
    color: #000;
    background-color: transparent;
}
.nav-order-detail > li > a {color: #fff;font-family: 'Conv_Roboto-Black'; font-size: 14px;padding: 10px 42px; line-height: 30px; letter-spacing: 1.5px;}
.nav-order-detail > li > a:hover, .nav-order-detail > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}
.nav-order-detail > li:first-child > a {padding-left: 0px;}
.nav-order-detail > li:last-child > a {padding-right: 0px;}
.btn-delivery-order { border-radius: 50px; padding: 0px 20px; border: 2px solid #fff; font-size: 18px; font-family: 'Conv_Roboto-Regular'; letter-spacing: 1px; height: 34px; background: transparent; }
/** 26B-control-panel-buyer-SINGLE-ITEM-ORDER-DETAILS-in progress **/

/* 26B-control-panel-buyer-SINGLE-ITEM-ORDER-DETAILS-in progress */
.nav-buyerorder-detail > li.active > a, .nav-buyerorder-detail > li.active > a:hover, .nav-buyerorder-detail > li.active > a:focus {
    color: #000;
    background-color: transparent;
}
.nav-buyerorder-detail > li > a {color: #fff;font-family: 'Conv_Roboto-Black'; font-size: 14px;padding: 12px 20px; line-height: 30px; letter-spacing: 1.5px;}
.nav-buyerorder-detail > li > a:hover, .nav-order-detail > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}
.nav-buyerorder-detail > li:first-child > a {padding-left: 0px;}
.nav-buyerorder-detail > li:last-child > a {padding-right: 0px;}
/* End 26B-control-panel-buyer-SINGLE-ITEM-ORDER-DETAILS-in progress */

/*02B-sign-up-i-want-to-courses-SELLER-W1*/
.course-service { margin-top: 90px; font-family: 'Conv_Roboto-Bold'; letter-spacing: 3px; }
.course-service h1, .course-service h2 { font-size: 40px; }
.main-course-seller { width: 100%; max-width: 750px; margin: 0px auto; }
.courses-bottom { border-top: 1px solid #eee; padding-top: 20px; margin: 0 auto; text-align: center; width: 50%; }
/*End 02B-sign-up-i-want-to-courses-SELLER-W1*/

/*02B-sign-up-i-want-to-sell-online-SELLER-W2*/
.course-description { border-radius: 25px; border: 2px solid #a6a6a6; }
.heading-coursesection h2 { margin-top: 0px; font-size: 40px; font-family: 'Conv_Roboto-Bold'; text-align: center; color: #2a2a2a; letter-spacing: 1.5px; }
.save-course { padding: 2px 58px; border: 2px solid transparent; margin: 5px 8px 0px; border-radius: 50px; color: #fff; margin-top: 5px; background-color: #e70e8a; border: 2px solid initial; font-size: 18px; }
.publish-course { padding: 2px 58px; border: 2px solid #e70e8a; margin: 5px 8px 0px; border-radius: 50px; color: #e70e8a; margin-top: 5px; background: transparent; font-size: 18px; }
/*End 02B-sign-up-i-want-to-sell-online-SELLER-W2*/

/*02B-sign-up-i-want-to-courses-SELLER-W3*/
.main-courses3 { width: 100%; margin: 0px auto; }
/*End 02B-sign-up-i-want-to-courses-SELLER-W3*/

.leave-popup { margin-bottom: 10px; }
.btn-leave { border-radius: 50px; background: transparent; color: #e8128c; border: 2px solid #e8128c; padding: 4px 50px; margin: 15px 60px; font-size: 18px; }


.btn-basic:hover{ color: #fff; background-color: #010101; border-radius: 50px; padding: 6px 0px; }
.btn-upgrade:hover { color: #323131;; background-color: transparent; border-radius: 50px; padding: 6px 0px; }

/*26B-control-panel-your-seller-reviews-1*/
.main-selleraccount { width: 100%; max-width: 750px; margin: 0 auto; margin-top: 30px; }
/*End 26B-control-panel-your-seller-reviews-1*/

/* 26B-control-panel-your-buyer-reviews-1*/
.main-buyeraccount { width: 100%; max-width: 750px; margin: 0 auto; margin-top: 30px; }
/*End 26B-control-panel-your-buyer-reviews-1*/

/* 04- filtering */
.course-pricevalue p { font-size: 13px; font-family: 'Conv_Roboto-Bold'; }
/* End 04- filtering */

/* 02B-sign-up-add profile photo-1 */
.profile-upload { font-weight: normal; }
/* End 02B-sign-up-add profile photo-1 */

.description-status h3 { font-family: 'Conv_Roboto-Bold'; font-size: 18px;  margin-top: 30px;}
.details-description h5 { font-family: 'Conv_Roboto-Bold'; font-size: 15px; }
.skill-details-man { text-align: center; }
.skill-details-man p { margin-bottom: 0px; font-family: 'Conv_Roboto-Bold'; font-size: 15px;  }
.show-details { font-family: 'Conv_Roboto-Bold'; letter-spacing: 0.5px; margin-left: 20px; }
