

/* components end */
.vid-wrapper {
  position: relative;
  height: 100%;
  cursor: none; }
  .vid-wrapper.is-fullscreen .vid-toggle-layer {
    z-index: 999999999998; }
  .vid-wrapper.is-fullscreen .vid-controls-bottom, .vid-wrapper.is-fullscreen .vid-shadow-layer, .vid-wrapper.is-fullscreen .vid-info-layer, .vid-wrapper.is-fullscreen .vid-quality-selector {
    z-index: 999999999999; }
  .vid-wrapper.is-fullscreen .vid-bottom-progress-bar {
    z-index: 999999999999;
    opacity: 0.2; }
  .vid-wrapper.mouse-entered, .vid-wrapper.paused {
    cursor: default; }
    .vid-wrapper.mouse-entered .vid-bottom-progress-bar, .vid-wrapper.paused .vid-bottom-progress-bar {
      opacity: 0; }
    .vid-wrapper.mouse-entered .vid-controls-bottom, .vid-wrapper.paused .vid-controls-bottom {
      opacity: 1; }
    .vid-wrapper.mouse-entered .vid-shadow-layer, .vid-wrapper.paused .vid-shadow-layer {
      opacity: 0.8; }
    .vid-wrapper.mouse-entered .vid-info-layer .vid-info-wrapper h1, .vid-wrapper.mouse-entered .vid-info-layer .vid-info-wrapper p, .vid-wrapper.mouse-entered .vid-info-layer .vid-info-wrapper h2, .vid-wrapper.paused .vid-info-layer .vid-info-wrapper h1, .vid-wrapper.paused .vid-info-layer .vid-info-wrapper p, .vid-wrapper.paused .vid-info-layer .vid-info-wrapper h2 {
      opacity: 1; }
    .vid-wrapper.mouse-entered .vid-quality-selector, .vid-wrapper.paused .vid-quality-selector {
      opacity: 1; }
  .vid-wrapper .vid-html5 {
    position: relative;
    z-index: 1; }
    .vid-wrapper .vid-html5 video {
      display: block;
      background-color: black; }
  .vid-wrapper .vid-controls-bottom {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 60px;
    opacity: 0;
    transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
  .vid-wrapper .vid-controls-wrapper {
    margin: 0 -20px;
    width: 100%; }
  .vid-wrapper .vid-toggle-layer, .vid-wrapper .vid-shadow-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;}
  .vid-wrapper .vid-bottom-progress-bar {
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 2;
    bottom: 0;
    left: 0;
    transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
    .vid-wrapper .vid-bottom-progress-bar .progress-bg, .vid-wrapper .vid-bottom-progress-bar .progress-fg {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .vid-wrapper .vid-bottom-progress-bar .progress-bg {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      z-index: 1; }
    .vid-wrapper .vid-bottom-progress-bar .progress-fg {
      width: 0%;
      background-color: white; }
  .vid-wrapper .vid-info-layer {
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 3;
    width: 100%; }
    .vid-wrapper .vid-info-layer .vid-info-wrapper {
      width: 90%;
      margin: 0 auto;
      padding: 0 20px; }
      .vid-wrapper .vid-info-layer .vid-info-wrapper h1 {
        color: white;
        opacity: 0;
        transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
      .vid-wrapper .vid-info-layer .vid-info-wrapper h2 {
        color: white;
        opacity: 0;
        transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
      .vid-wrapper .vid-info-layer .vid-info-wrapper p {
        color: rgba(255, 255, 255, 0.6);
        opacity: 0;
        transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
      .vid-wrapper .vid-info-layer .vid-info-wrapper .view-count {
        margin-left: auto; }
/*  .vid-wrapper .vid-shadow-layer {
    pointer-events: none;
    z-index: 2;
    opacity: 0;
    background: transparent;
    background: -moz-linear-gradient(top, transparent 50%, #000000 90%);
    background: -webkit-linear-gradient(top, transparent 50%, #000000 90%);
    background: linear-gradient(to bottom, transparent 50%, #000000 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#000000',GradientType=0 );
    transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }*/
    .vid-quality-selector {display: none;}
  .vid-wrapper .vid-quality-selector {
    position: absolute;
    top: 49%;
right: 55px;
    z-index: 3;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
    .vid-wrapper .vid-quality-selector button {
      background-color: rgba(34, 34, 34, 0.5);
      padding: 13px 20px;
      font-weight: 700;
      font-size: 16px;
      color: white; width: 100%;}
      .vid-wrapper .vid-quality-selector button.active {
        background-color: white;
        color: #222; }
  .vid-wrapper .vid-controls-contents {
    width: 90%;
    margin: 0 auto; }
    .vid-wrapper .vid-controls-contents span {
      margin: 0 10px;
      font-size: 13px;
      min-width: 45px;
      display: flex;
      justify-content: center;
      color: rgba(255, 255, 255, 0.7); }
    .vid-wrapper .vid-controls-contents button {
      color: rgba(255, 255, 255, 0.7);
      transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
      .vid-wrapper .vid-controls-contents button:hover {
        color: white; }
      .vid-wrapper .vid-controls-contents button i {
        font-size: 28px; }
    .vid-wrapper .vid-controls-contents .vid-progress {
      position: relative;
      width: 100%;
      height: 5px;
      margin: 0 20px;
      margin-top: -2px;
      transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      cursor: pointer; }
      .vid-wrapper .vid-controls-contents .vid-progress:hover {
        height: 13px; }
      .vid-wrapper .vid-controls-contents .vid-progress .progress-bg, .vid-wrapper .vid-controls-contents .vid-progress .progress-fg, .vid-wrapper .vid-controls-contents .vid-progress .progress-loaded {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .vid-wrapper .vid-controls-contents .vid-progress .progress-bg {
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        z-index: 1; }
      .vid-wrapper .vid-controls-contents .vid-progress .progress-loaded {
        pointer-events: none;
        width: 0%;
        background-color: #777777;
        z-index: 2; }
      .vid-wrapper .vid-controls-contents .vid-progress .progress-fg {
        width: 0%;
        background-color: #e70e8a; 
        z-index: 999999;}
      .vid-wrapper .vid-controls-contents .vid-progress .progress-hovertime {
        position: absolute;
        top: -35px;
        padding: 5px 10px;
        font-size: 12px;
        transform: translateX(-50%);
        color: white;
        background-color: #333;
        opacity: 0;
        pointer-events: none; }
        .vid-wrapper .vid-controls-contents .vid-progress .progress-hovertime.hover {
          opacity: 1;
          pointer-events: auto; }
    .vid-wrapper .vid-controls-contents .item {
      padding: 0 10px;
      margin: 0 10px;
      background: transparent;
border: none; }
  .vid-wrapper .vid-volume-control {
    min-width: 45px; }
  .vid-wrapper .vid-volume-slider {
    width: 0;
    height: 5px;
    margin-top: -2px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transform-origin: left; }
    .vid-wrapper .vid-volume-slider .ui-slider-range {
      height: 100%;
      background-color: white; }

video::-webkit-media-controls {
  display: none !important; }

.vid-wrapper.videre-container {width: 100% !important;
left: 0;
right: 0;
margin: auto;}
/*.vid-wrapper .vid-html5 video {max-width: 1170px;}*/
.btn-popup-all {float: right;}
.video-play {max-width: 1280px;margin: auto;}
/*# sourceMappingURL=videre.css.map */

@media (max-width: 1279px)
{
  .video-play {
    max-width: 1170px;
    margin: 0 auto;}
  .vid-wrapper .vid-html5 , .vid-toggle-layer , .vid-shadow-layer , .vid-wrapper .vid-info-layer , .vid-wrapper .vid-controls-bottom{max-width: 1170px;}
  #html-player {max-width: 1170px;}
  .vid-wrapper .vid-controls-wrapper {margin: 0 0px;}
}
@media (max-width: 1140px)
{
  
  #html-player {
    max-width: 991px;margin: 0px auto;}
}
@media (max-width: 991px)
{
  #html-player {
    max-width: 767px;
    margin: 0px auto;
}
.vid-volume-control.item{left: 16% !important;}
.vid-current-time {left: 24% !important;}
.vid-duration {left: 29% !important;}
}
@media  (max-width: 767px)
{
  #html-player {
    max-width: 540px;}
    .vid-volume-control.item {left: 18% !important;} 
    .vid-current-time {left: 27% !important;}
.vid-duration {left: 33% !important;}
.vid-request-settinges {

    right: 10% !important;
}
@media (max-width: 640px)
{
  .vid-volume-control.item {left: 22% !important;}
  .vid-current-time {

    left: 35% !important;

}
.vid-duration {

    left: 44% !important;

}
}
@media (max-width: 540px)
{
  #html-player {
    max-width: 320px;
  height: 330px !important;}
}
@media (max-width: 480px)
{
  .vid-volume-control.item{left: 27% !important;}
  .vid-current-time {

    left: 44% !important;

}.vid-duration {

    left: 56% !important;

}
}
@media (max-width: 360px)
{.vid-wrapper .vid-controls-contents .item{margin: 0 0px !important;}}